Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

chore: upgrade to pnpm@10.28.1
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: set minimum version of pnpm to 10.17
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@3701fbf520352a4f70bf8176bb05bd6fc8bec610 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: icon block
  components/Alert/src/index.scss
  components/Icons/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: icon block
  components/Alert/src/index.scss
  components/Icons/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: changeset
  .changeset/wet-actors-hide.md
Due: prettier --check

docs(release): design system packages
  .changeset/wet-actors-hide.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@0d41533eb08a60a53897fa0dfa4f9ff0c021774f 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(card-stats): add CardStats component
  components/CardStats/README.md
  components/CardStats/package.json
  components/CardStats/src/index.scss
  components/CardStats/src/index.tsx
  components/CardStats/src/stories/bem.stories.mdx
  components/CardStats/tsconfig.json
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix(card-stats): implement feedback from pr
  components/CardStats/package.json
  components/CardStats/src/index.scss
  components/CardStats/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card-stats): add CardStats component (#1978)
  components/CardStats/README.md
  components/CardStats/package.json
  components/CardStats/src/index.scss
  components/CardStats/src/index.tsx
  components/CardStats/src/stories/bem.stories.mdx
  components/CardStats/tsconfig.json
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(stats-card): make min card size smaller
  components/CardStats/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

DHNL-48 style(stats-card): make min card size smaller (#1979)
  components/CardStats/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: changed checkbox and radio focus to new design
  components/FormLabel/package.json
  components/FormLabel/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: changeset
  .changeset/shiny-schools-march.md
Due: prettier --check

docs(release): design system packages
  .changeset/shiny-schools-march.md
  components/FormLabel/CHANGELOG.md
  components/FormLabel/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: use the additional denhaag css for form components in openforms
  packages/open-forms/package.json
  packages/open-forms/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added changeset
  .changeset/little-experts-accept.md
Due: prettier --check

chore: sort lines
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@d451989c7207c2caf8b5ffeaabf1d764a14cb839 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/little-experts-accept.md
  .changeset/shiny-schools-march.md
  components/FormLabel/CHANGELOG.md
  components/FormLabel/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(cta-image-content): fix vertical alignment
  components/CtaImageContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: temporary override rimraf dependency to fix critical vulnerability
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@09f4b4c501b8d0e17a1734ee53f2bad31c41bb5f 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: tabIndicator width
  .changeset/brown-months-wink.md
  components/Tab/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/brown-months-wink.md
  components/Tab/CHANGELOG.md
  components/Tab/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets
