Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

ci: require `repository.directory` to be set in package.json files
  .npmpackagejsonlintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: switch from lerna to changesets for publishing new versions
  .changeset/README.md
  .changeset/config.json
  .github/workflows/cicd.yml
  .prettierignore
  CONTRIBUTING.md
  README.md
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@3a6e08513fab8cdfc54ef462a3d78bb3e6364b97 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: replace another batch of -block to default and start cleanup the accordion
  components/Accordion/src/index.scss
  proprietary/Components/src/denhaag/accordion.tokens.json
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
  proprietary/Components/src/denhaag/article-meta.tokens.json
  proprietary/Components/src/denhaag/card-news.tokens.json
  proprietary/Components/src/denhaag/conditions.tokens.json
  proprietary/Components/src/denhaag/cta-download.tokens.json
  proprietary/Components/src/denhaag/header.tokens.json
  proprietary/Components/src/denhaag/highlighted-links.tokens.json
  proprietary/Components/src/denhaag/illustrated-list-block.tokens.json
  proprietary/Components/src/denhaag/modal.tokens.json
  proprietary/Components/src/denhaag/note.tokens.json
  proprietary/Components/src/denhaag/pagination.tokens.json
  proprietary/Components/src/denhaag/procedure.tokens.json
  proprietary/Components/src/denhaag/tabs.tokens.json
  proprietary/Components/src/utrecht/button.tokens.json
  proprietary/Components/src/utrecht/form-field.tokens.json
  proprietary/Components/src/utrecht/paragraph.tokens.json
  proprietary/Components/src/utrecht/table.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(accordion): reduced the accordion amounts to 2
  components/Accordion/src/index.scss
  proprietary/Common/src/denhaag/space/space.tokens.json
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(accordion): no accordion tokens left
  components/Accordion/src/index.scss
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-collapse): remove all custom css variables that are set unnecassary
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-collapse): remove all custom css variables that are set … (#1581)
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-navigation): reduce the amount of css variables
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(article-meta): reduce css variables
  components/ArticleMeta/src/index.scss
  proprietary/Components/src/denhaag/article-meta.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(authenticaion-block): reduce css tokens
  components/AuthenticationBlock/src/index.scss
  proprietary/Components/src/denhaag/authentication-block.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(badge-counter): set css variariable which already exists
  components/BadgeCounter/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add link list
  components/LinkList/README.md
  components/LinkList/package.json
  components/LinkList/src/LinkList.tsx
  components/LinkList/src/LinkListItem.tsx
  components/LinkList/src/index.scss
  components/LinkList/src/index.tsx
  components/LinkList/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/react/LinkList.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/utrecht/link-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add css story
  packages/storybook/src/css/LinkList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(blockquote): reduce all unecassary set tokens
  components/Blockquote/src/index.scss
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: css
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: extends html
  components/LinkList/src/LinkList.tsx
  components/LinkList/src/LinkListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add changeset
  .changeset/README.md
Due: prettier --check

feat: add changeset
  .changeset/README.md
  .changeset/odd-pillows-breathe.md
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/odd-pillows-breathe.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/CtaImageContent/CHANGELOG.md
  components/CtaImageContent/package.json
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/LinkList/CHANGELOG.md
  components/LinkList/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/Typography/CHANGELOG.md
  components/Typography/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(alert): reduce tokens
  components/Alert/src/index.scss
  components/Alert/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/alert.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@6408e00932e05c3d80748a98821afbaaaa4c5756 🚀
  assets/CaseCard.stories-DAuPu22Y.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-DZQXkjF-.js
  assets/iframe-Be7uJFWz.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Www denhaag nl/reduce unused css alert (#1587)
  components/Alert/src/index.scss
  components/Alert/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/alert.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: token name
  .github/workflows/cicd.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@ff0babd0297f6bc68240e498a0501dc1626c0bbd 🚀
  assets/CaseCard.stories-DAuPu22Y.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-DZQXkjF-.js
  assets/iframe-Be7uJFWz.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: change publish to private
  .changeset/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@42f28d219a695a71a2e04eee1c045cb2878e7e9f 🚀
  assets/CaseCard.stories-DAuPu22Y.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-DZQXkjF-.js
  assets/iframe-Be7uJFWz.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(anchor-navigation): reduce the amount of css variables (#1582)
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(blockquote): reduce all unecassary set tokens (#1585)
  components/Blockquote/src/index.scss
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(article-meta): reduce css tokens (#1583)
  components/ArticleMeta/src/index.scss
  proprietary/Components/src/denhaag/article-meta.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
