Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(breadcrumb): reduce css tokens + fix console errors
  components/Breadcrumb/src/DenhaagBreadcrumbs.js
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(breadcrumb): clean token file
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button-group): reduce tokens
  components/ButtonGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(button-group): reduce tokens
  proprietary/Components/src/denhaag/button-group.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button): reduce tokens
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cards): cleanup css tokens of all card components
  components/Card/src/Card/card.scss
  components/Card/src/CardActions/card-actions.scss
  components/CardAuthentication/src/_mixin.scss
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
  components/CardNews/src/index.scss
  proprietary/Components/src/denhaag/card-authentication.tokens.json
  proprietary/Components/src/denhaag/card-group.tokens.json
  proprietary/Components/src/denhaag/card-news.tokens.json
  proprietary/Components/src/denhaag/card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Www denhaag nl/reduce unused css button group (#1591)
  components/ButtonGroup/src/index.scss
  proprietary/Components/src/denhaag/button-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(button): reduce tokens to 0 + prettier
  components/Button/src/index.scss
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(button): reduce tokens (#1592)
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cards): cleanup css tokens of all card components (#1593)
  components/Card/src/Card/card.scss
  components/Card/src/CardActions/card-actions.scss
  components/CardAuthentication/src/_mixin.scss
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
  components/CardNews/src/index.scss
  proprietary/Components/src/denhaag/card-authentication.tokens.json
  proprietary/Components/src/denhaag/card-group.tokens.json
  proprietary/Components/src/denhaag/card-news.tokens.json
  proprietary/Components/src/denhaag/card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

ci(breadcrumbs): remove console.log
  components/Breadcrumb/src/DenhaagBreadcrumbs.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(conditions): reduced tokens to 0
  components/Conditions/src/index.scss
  proprietary/Components/src/denhaag/conditions.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta download): reduce tokens
  components/CtaDownload/src/index.scss
  proprietary/Components/src/denhaag/cta-download.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(breadcrumb): reduce css tokens + fix console errors (#1590)
  components/Breadcrumb/src/DenhaagBreadcrumbs.js
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta download): reduce tokens, pr feedback
  components/CtaDownload/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(cta download): reduce tokens (#1595)
  components/CtaDownload/src/index.scss
  proprietary/Components/src/denhaag/cta-download.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(conditions): reduced tokens to 0 (#1594)
  components/Conditions/src/index.scss
  proprietary/Components/src/denhaag/conditions.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(datepicker): reduce css tokens
  components/Datepicker/src/index.scss
  proprietary/Components/src/denhaag/_datepicker.tokens.json
  proprietary/Components/src/denhaag/datepicker.tokens.json
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(datepicker): reduce tokens to 0
  components/Datepicker/src/index.scss
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta event): reduce tokens
  components/CtaEvent/src/index.scss
  proprietary/Components/src/denhaag/cta-event.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(datepicker): set fallback
  components/Datepicker/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Www denhaag .nl/reduce unused css cta event (#1597)
  components/CtaEvent/src/index.scss
  proprietary/Components/src/denhaag/cta-event.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Www denhaag nl/reduce unused css datepicker (#1596)
  components/Datepicker/src/index.scss
  proprietary/Components/src/denhaag/_datepicker.tokens.json
  proprietary/Components/src/denhaag/datepicker.tokens.json
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(description-list): reduced tokens to 0
  components/DescriptionList/src/index.scss
  proprietary/Components/src/denhaag/description-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(description-list): reduced tokens to 0 (#1598)
  components/DescriptionList/src/index.scss
  proprietary/Components/src/denhaag/description-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta image content): reduce tokens
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added action support to descriptionlist
  components/DescriptionList/src/DescriptionList.scss
  components/DescriptionList/src/DescriptionList.tsx
  components/DescriptionList/src/DescriptionListDetail.scss
  components/DescriptionList/src/DescriptionListItem.scss
  components/DescriptionList/src/DescriptionListItem.tsx
  components/DescriptionList/src/DescriptionListTitle.scss
  components/DescriptionList/src/index.scss
  components/DescriptionList/src/index.tsx
  packages/storybook/src/css/DescriptionList.stories.tsx
  packages/storybook/src/react/DescriptionList.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta link): reduce tokens
  components/CtaLink/src/index.scss
  proprietary/Components/src/denhaag/cta-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: change story name
  packages/storybook/src/css/DescriptionList.stories.tsx
  packages/storybook/src/react/DescriptionList.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: added changesets
  .changeset/breezy-chairs-hang.md
  .changeset/sharp-tigers-join.md
Due: prettier --check

fix: remove tmp css
  components/DescriptionList/src/DescriptionList.scss
Due: prettier --check, stylelint --allow-empty-input

style(divider): reduce tokens
  components/Divider/src/index.scss
  proprietary/Components/src/denhaag/divider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(dot-indicator): reduce tokens
  components/DotIndicator/src/index.scss
  proprietary/Components/src/denhaag/dot-indicator.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/breezy-chairs-hang.md
  .changeset/sharp-tigers-join.md
  components/DescriptionList/CHANGELOG.md
  components/DescriptionList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
