Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@d656498348decd7e72afd50bcb8e347faaa0828f 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: exporting members of nlds candidate components
  components/DataBadge/src/DataBadge.tsx
  components/Heading/src/index.tsx
  components/NumberBadge/src/index.tsx
  components/Paragraph/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: remove complete utrecht css import, fix stylesprovider, imported needed utrecht styling
  components/Footer/package.json
  components/Footer/src/index.tsx
  components/LanguageSwitcher/package.json
  components/LanguageSwitcher/src/index.tsx
  components/StylesProvider/package.json
  components/StylesProvider/src/index.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: remove duplicate classes
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/fancy-grapes-marry.md
Due: prettier --check

fix: revert change
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/fancy-grapes-marry.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/DataBadge/CHANGELOG.md
  components/DataBadge/package.json
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/Heading/CHANGELOG.md
  components/Heading/package.json
  components/LanguageSwitcher/CHANGELOG.md
  components/LanguageSwitcher/package.json
  components/Menu/CHANGELOG.md
  components/Menu/package.json
  components/NumberBadge/CHANGELOG.md
  components/NumberBadge/package.json
  components/Paragraph/CHANGELOG.md
  components/Paragraph/package.json
  components/SideNavigation/CHANGELOG.md
  components/SideNavigation/package.json
  components/StylesProvider/CHANGELOG.md
  components/StylesProvider/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@9d620ed06b2b8cf5d87734d4baf2eb1352df6b9e 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): change h4s to h3s
  components/LinkGrid/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

GDH-1708 style(link-grid): change h4s to h3s (#1827)
  components/LinkGrid/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

:alien: Fix embedding @open-formulieren/sdk Formio components
  packages/storybook/package.json
  packages/storybook/src/@types/index.d.ts
  packages/storybook/src/open-forms/StoryUtil.tsx
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: header logo prop
  components/Header/src/HeaderLogic.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changelog
  .changeset/real-webs-ring.md
Due: prettier --check

docs(release): design system packages
  .changeset/real-webs-ring.md
  components/Header/CHANGELOG.md
  components/Header/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: remove custom theme css
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@aa657aa25dc2342f8dc11a0de2c0d7855e89ef60 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: styling
  components/Alert/src/index.scss
  components/CardAuthentication/src/_mixin.scss
  components/CtaImageContent/src/index.scss
  components/RichText/src/index.scss
  packages/storybook/src/templates/template-story.scss
  proprietary/Components/src/denhaag/card-authentication.tokens.json
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: space
  packages/storybook/src/templates/messages.scss
Due: prettier --check, stylelint --allow-empty-input

fix: heading margin
  proprietary/Components/src/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: title and anchor
  components/AnchorCollapse/src/index.scss
  packages/storybook/src/templates/template-story.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add changeset
  .changeset/slimy-banks-ring.md
Due: prettier --check

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
