Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Deploying to gh-pages from @ nl-design-system/denhaag@6c49106958eb2f172944ea5da4712f1ed81b90b7 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(procedure): add small story, since issue occurs on 616pixels width
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(image-banner, process): remove negative margin and set paragraph+element style
  components/ImageBanner/src/index.scss
  components/ProcessSteps/src/Step.scss
Due: prettier --check, stylelint --allow-empty-input

style(cta-image-content): set flex-direction to row
  components/CtaImageContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Bugfixes www-denhaag-nl/gdhs-60 (#1706)
  components/ImageBanner/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
  components/ProcessSteps/src/Step.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(cta-image-content): set flex-direction to row (#1707)
  components/CtaImageContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: added focus state to accordion
  components/Accordion/package.json
  components/Accordion/src/_AccordionSectionHeader.scss
  packages/storybook/src/css/Accordion.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: added reduced motion
  components/Accordion/src/_AccordionSectionIcon.scss
Due: prettier --check, stylelint --allow-empty-input

chore: added changeset
  .changeset/eighty-mirrors-travel.md
Due: prettier --check

feat: added accordion css story + rotation animation
  components/Accordion/src/AccordionSectionIcon.tsx
  components/Accordion/src/_AccordionSectionButton.scss
  components/Accordion/src/_AccordionSectionIcon.scss
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/react/Accordion.stories.tsx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: new accordion (react)
  components/Accordion/package.json
  components/Accordion/src/Accordion.tsx
  components/Accordion/src/AccordionSection.tsx
  components/Accordion/src/AccordionSectionContent.tsx
  components/Accordion/src/AccordionSectionDescription.tsx
  components/Accordion/src/AccordionSectionHeader.tsx
  components/Accordion/src/AccordionSectionIcon.tsx
  components/Accordion/src/AccordionSectionTitle.tsx
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/_Accordion.scss
  components/Accordion/src/_AccordionSection.scss
  components/Accordion/src/_AccordionSectionButton.scss
  components/Accordion/src/_AccordionSectionContent.scss
  components/Accordion/src/_AccordionSectionHeader.scss
  components/Accordion/src/_AccordionSectionTitle.scss
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  components/Accordion/src/story.js
  packages/storybook/src/react/Accordion.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@2c033a0ca8386bbe73f165a63d9b173fc30f2834 🚀
  assets/Accordion.stories-C_buEdmT.js
  assets/Accordion.stories-O-QEEkxE.js
  assets/Accordion.stories-xSrZtLkb.js
  assets/Action.stories-BmAfexTw.js
  assets/Action.stories-DJhWmKTh.js
  assets/Color-YHDXOIA2-8f-aIln2.js
  assets/Color-YHDXOIA2-BbfD5Ldh.js
  assets/Colors.stories-BiZQUCSy.js
  assets/Colors.stories-C0Bi-lZn.js
  assets/DocsRenderer-CFRXHY34-BV-t0F6s.js
  assets/DocsRenderer-CFRXHY34-DqlFCgs8.js
  assets/Header.stories-BUpq-n3U.js
  assets/Header.stories-doXzxoaW.js
  assets/Icons.stories-Btb2i7U7.js
  assets/ProcessSteps.stories-Bo1DvHux.js
  assets/ProcessSteps.stories-DJ1GObP9.js
  assets/Sidenav.stories-Be5QVt1u.js
  assets/Sidenav.stories-xJvATnyR.js
  assets/Space.stories-CCBlxvTE.js
  assets/Space.stories-DicNZBmR.js
  assets/entry-preview-CB69oc9U.js
  assets/iframe-BBlNwD5D.js
  assets/index-DDmpjLmd.js
  assets/index-DXRhoqAG.js
  assets/list-D4N81Wxu.js
  assets/list-DXPpBxoJ.js
  assets/preview-AQpDc82X.js
  assets/preview-BHOzo3n6.js
  assets/preview-D-LP2Bc-.js
  assets/preview-D97F4Ppw.js
  assets/preview-DOfDj8Qd.js
  assets/preview-E4jy-cVm.css
  assets/preview-L1IfMHK0.css
  iframe.html
  index.json
  project.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(procedure): modify style due to issues with longer titels and content
  components/Procedure/src/index.scss
  components/ProcessSteps/src/Step.scss
Due: prettier --check, stylelint --allow-empty-input

feat(proccedure): add story with long title and content
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/eighty-mirrors-travel.md
  components/Accordion/CHANGELOG.md
  components/Accordion/package.json
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/CtaImageContent/CHANGELOG.md
  components/CtaImageContent/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/Typography/CHANGELOG.md
  components/Typography/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(procedure): make the negative 1px listen to the variable
  components/ProcessSteps/src/Step.scss
Due: prettier --check, stylelint --allow-empty-input

style(process): fix linked component, which broke due to previous changes
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepMarker.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@5bf702ba996958d0f88ffae8ab321fe637523b2a 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

GDHS-60 - bugfix after tests outside of storybook + new story (#1709)
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepMarker.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: moved textinput ref to the actual input
  components/TextInput/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/seven-frogs-knock.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@1d680b0f5d497ccc4e3b3a737e150e558f446dd8 🚀
  assets/Color-YHDXOIA2-8f-aIln2.js
  assets/Color-YHDXOIA2-Bx3s-DxA.js
  assets/Colors.stories-0txMgSTa.js
  assets/Colors.stories-C0Bi-lZn.js
  assets/DocsRenderer-CFRXHY34-BSZ4SWCc.js
  assets/DocsRenderer-CFRXHY34-BV-t0F6s.js
  assets/FormField.stories-B9lWzZaH.js
  assets/FormField.stories-BzVFLH0E.js
  assets/Icons.stories-CfMjoQ-m.js
  assets/Space.stories-DicNZBmR.js
  assets/Space.stories-dTjMVKGr.js
  assets/TextInput.stories-CUNSdDAS.js
  assets/TextInput.stories-GuAKr2jv.js
  assets/entry-preview-ad46UteG.js
  assets/iframe-DH8dBBk6.js
  assets/index-BV4kjiAi.js
  assets/index-D2rAtwQW.js
  assets/preview-1Zge714z.js
  assets/preview-D97F4Ppw.js
  assets/preview-DB2bYL8W.js
  assets/preview-DOfDj8Qd.js
  assets/preview-DzgQ75Ga.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/seven-frogs-knock.md
  components/TextInput/CHANGELOG.md
  components/TextInput/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@aaec1d6aee96f04697376aaef297006d4f36f735 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added setOpen to children of modal
  components/Modal/src/Modal.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/brown-pants-stick.md
Due: prettier --check

fix: added suggestion of borai and reverted story changes
  .changeset/brown-pants-stick.md
  components/Modal/src/Modal.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@7fe002a707e20e8d30660fcf87e672865bc93b09 🚀
  assets/Color-YHDXOIA2-Bx3s-DxA.js
  assets/Color-YHDXOIA2-DxzROAfZ.js
  assets/Colors.stories-0txMgSTa.js
  assets/Colors.stories-HfrAR5Cx.js
  assets/DocsRenderer-CFRXHY34-B6elhSoA.js
  assets/DocsRenderer-CFRXHY34-BSZ4SWCc.js
  assets/Icons.stories-Dzu1QP2B.js
  assets/Modal.stories-CKFMIHRj.js
  assets/Modal.stories-CzDps-4l.js
  assets/Modal.stories-DcwFpfoG.js
  assets/Modal.stories-YWW6HERj.js
  assets/README-H_W-X7cR.js
  assets/README-bo7GQyIp.js
  assets/Space.stories-dTjMVKGr.js
  assets/Space.stories-nZJRbFv5.js
  assets/entry-preview-uCdy6X_-.js
  assets/iframe-i0T2MhnA.js
  assets/index-CTB-JToS.js
  assets/preview-1Zge714z.js
  assets/preview-BwYhqGUb.js
  assets/preview-BxGaNpMr.js
  assets/preview-DzgQ75Ga.js
  assets/preview-aQLC561M.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/brown-pants-stick.md
  components/Modal/CHANGELOG.md
  components/Modal/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets
