Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/brown-pants-stick.md
  components/Modal/CHANGELOG.md
  components/Modal/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@11b44bab2a9c39bd06eb8e219a0816f0caa21928 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: paragraph candidate
  components/Paragraph/README.md
  components/Paragraph/package.json
  components/Paragraph/src/index.tsx
  components/Paragraph/tsconfig.json
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

GDHS-63 Bugfix Authenticationblock eHerkenning, add aspect-ratio var to the denhaag-image.
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

GDHS-63 Bugfix Authenticationblock eHerkenning (#1714)
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: link candidate component
  components/Link/package.json
  components/Link/src/BasicLink.tsx
  components/Link/src/index.tsx
  packages/storybook/src/css/Link.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: heading candidate
  components/Heading/README.md
  components/Heading/package.json
  components/Heading/src/index.tsx
  components/Heading/tsconfig.json
  components/Paragraph/README.md
  packages/storybook/package.json
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: css heading story
  packages/storybook/src/css/Heading.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added color tokens for title, description and icon
  components/Accordion/src/_AccordionSectionDescription.scss
  components/Accordion/src/_AccordionSectionIcon.scss
  components/Accordion/src/_AccordionSectionTitle.scss
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: added option for accordion open/close animation
  components/Accordion/src/AccordionSection.tsx
  components/Accordion/src/AccordionSectionContentBody.tsx
  components/Accordion/src/AccordionSectionContentContainer.tsx
  components/Accordion/src/_AccordionSectionContent.scss
  components/Accordion/src/_AccordionSectionContentBody.scss
  components/Accordion/src/_AccordionSectionContentContainer.scss
  components/Accordion/src/index.scss
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added description lists inside accordion stories to check animation with longer content
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/react/Accordion.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/big-candles-make.md
Due: prettier --check

docs(release): design system packages
  .changeset/big-candles-make.md
  components/Accordion/CHANGELOG.md
  components/Accordion/package.json
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/CtaImageContent/CHANGELOG.md
  components/CtaImageContent/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/Typography/CHANGELOG.md
  components/Typography/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: first try data badge
  components/DataBadge/README.md
  components/DataBadge/package.json
  components/DataBadge/src/index.tsx
  components/DataBadge/tsconfig.json
  components/Heading/README.md
  components/Paragraph/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/react/DataBadge.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@157346dc5fef82c2589167c43e91cdd70d1a071f 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: badge tokens
  components/NumberBadge/README.md
  components/NumberBadge/package.json
  components/NumberBadge/src/index.tsx
  components/NumberBadge/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/NumberBadge.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/data-badge.tokens.json
  proprietary/Components/src/nl/number-badge.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: added aria-hidden to accordion content
  components/Accordion/src/AccordionSection.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: pass descriptionlist props to descriptionlistbase component to allow extra classnames
  components/DescriptionList/src/DescriptionList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changesets
  .changeset/quick-corners-dress.md
  .changeset/stupid-ends-brush.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@8b8a5580dfa7e080f1022b54ee3aefa13c22e468 🚀
  assets/Accordion.stories-B4nfMTSU.js
  assets/Accordion.stories-CIBJ3kl0.js
  assets/Accordion.stories-CMtADdrO.js
  assets/Accordion.stories-CQkljc0l.js
  assets/Color-YHDXOIA2-B4XFOnCd.js
  assets/Color-YHDXOIA2-BXRSokQk.js
  assets/Colors.stories-DfYSA2BU.js
  assets/Colors.stories-xSzsn4zP.js
  assets/DescriptionList.stories-BFKLccpO.js
  assets/DescriptionList.stories-C6YTW3cL.js
  assets/DescriptionList.stories-CrSpCvGo.js
  assets/DescriptionList.stories-lwdhet5_.js
  assets/DocsRenderer-CFRXHY34-BgUwMdrY.js
  assets/DocsRenderer-CFRXHY34-CJEzdJub.js
  assets/Icons.stories-4ojSl9AG.js
  assets/Space.stories-1rr2Cde4.js
  assets/Space.stories-D4-Xlm29.js
  assets/entry-preview-DZkAv7zJ.js
  assets/iframe-CJpyZ6aF.js
  assets/index-C1cxt2wg.js
  assets/index-CHeVfPOW.js
  assets/index-CcWGHa39.js
  assets/index-GYiORHc2.js
  assets/index-Vc6VdNnK.js
  assets/preview-2w_ZnGyM.js
  assets/preview-CbalZ4mA.js
  assets/preview-DCJRcOTe.js
  assets/preview-DIL5CMZb.js
  assets/preview-Dr79rrK2.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/quick-corners-dress.md
  .changeset/stupid-ends-brush.md
  components/Accordion/CHANGELOG.md
  components/Accordion/package.json
  components/DescriptionList/CHANGELOG.md
  components/DescriptionList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@922b0d6f19ee8401475647244de54a399d317981 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: always align description list columns
  components/DescriptionList/src/DescriptionList.scss
  components/DescriptionList/src/DescriptionListDetail.scss
  components/DescriptionList/src/DescriptionListItem.scss
  components/DescriptionList/src/DescriptionListTitle.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add changeset
  .changeset/cold-years-fly.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@f8054cf82a6c458aa01832c9811e61eec9d4328b 🚀
  assets/Accordion.stories-CIBJ3kl0.js
  assets/Accordion.stories-CMtADdrO.js
  assets/Accordion.stories-Cre9idoV.js
  assets/Accordion.stories-QKF7W77a.js
  assets/Color-YHDXOIA2-2qYdlWWN.js
  assets/Color-YHDXOIA2-B4XFOnCd.js
  assets/Colors.stories-gmpq7sZT.js
  assets/Colors.stories-xSzsn4zP.js
  assets/DescriptionList.stories-BFKLccpO.js
  assets/DescriptionList.stories-C6YTW3cL.js
  assets/DescriptionList.stories-Douw6Izr.js
  assets/DescriptionList.stories-q3BN306N.js
  assets/DocsRenderer-CFRXHY34-CJEzdJub.js
  assets/DocsRenderer-CFRXHY34-DcgptM9C.js
  assets/Icons.stories-DE5uWGuq.js
  assets/Space.stories-BIr4kXfU.js
  assets/Space.stories-D4-Xlm29.js
  assets/entry-preview-CO2eR_JX.js
  assets/iframe-DH1UkGxd.js
  assets/index-BMaw-YRz.js
  assets/index-C1cxt2wg.js
  assets/index-C2uNk4JX.js
  assets/preview-B5EC7So5.js
  assets/preview-CbalZ4mA.js
  assets/preview-DIL5CMZb.js
  assets/preview-Dw8qeMWH.js
  assets/preview-hEjqH01n.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/cold-years-fly.md
  components/DescriptionList/CHANGELOG.md
  components/DescriptionList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  tsc --noEmit --esModuleInterop --resolveJsonModule: any of: *.{ts, tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
