Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: added new folder icon to fileupload
  components/FileUpload/src/index.tsx
  components/Icons/src/index.tsx
  components/Icons/src/svg/functional/folder.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/khaki-turtles-hammer.md
Due: prettier --check

fix: simplified formfield and fileupload stories, added 360 viewport testing
  packages/storybook/src/css/FileUpload.stories.tsx
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/react/FileUpload.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: changed styling for mobile
  components/FileUpload/src/index.scss
  components/FileUpload/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: make fileupload drag events more robust
  components/FileUpload/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/ninety-wolves-roll.md
Due: prettier --check

refactor(anchor-collapse): refactor, make it more a11y
  components/Accordion/src/story.js
  components/AnchorCollapse/src/anchorCollapses.js
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories.js
  components/AnchorCollapse/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@d27ee166e6285c6826dafccfe037f61a0b29cc0e 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: update minor dependencies
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/DataBadge/package.json
  components/File/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/Heading/package.json
  components/Link/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/NumberBadge/package.json
  components/OrderedList/package.json
  components/Paragraph/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/SkipLink/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/UnorderedList/package.json
  package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Www denhaag nl/gdh 1089 anchor collapses (#1951)
  components/Accordion/src/story.js
  components/AnchorCollapse/src/anchorCollapses.js
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories.js
  components/AnchorCollapse/src/stories/bem.stories.mdx
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Www denhaag nl/gdh 1723 reduce duplicate code (#1945)
  components/ImageBanner/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse): add scroll-margin
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse): add scroll-margin (#1952)
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: update minor versions
  components/ButtonLink/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/OrderedList/package.json
  components/Paragraph/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/Textarea/package.json
  components/UnorderedList/package.json
  package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: stylelint errors
  .stylelintrc.json
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/DynamicContent/src/index.scss
  components/FloatingContact/src/index.scss
  components/Hero/src/index.scss
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: major updates without storybook
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/Footer/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/Menu/package.json
  components/OrderedList/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: upgrade storybook
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: latest updates + fixed issues with code snippet
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added changeset
  .changeset/mighty-areas-nail.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@9eb0703e760ae291354c86d7168087db960ca247 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(anchor-collapse, accordion): some minor style tweaks
  components/Accordion/src/index.scss
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse, accordion): prevent user-agent style to be added
  components/Accordion/src/index.scss
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse, accordion): some minor style tweaks (#1955)
  components/Accordion/src/index.scss
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
