Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: added lockfile
  pnpm-lock.yaml
Due: prettier --check

chore: set core-js to false, dedupe
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: prettier --check

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove workaround for npm audit endpoint
  .github/workflows/publish.yml
Due: prettier --check

feat: prim size tokens
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: update patch dependency versions
  components/Checkbox/package.json
  components/DataBadge/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/Heading/package.json
  components/Link/package.json
  components/Menu/package.json
  components/NumberBadge/package.json
  components/Paragraph/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/SkipLink/package.json
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: minor dependency updates
  components/Action/package.json
  components/FormLabel/package.json
  components/StylesProvider/package.json
  components/TextInput/package.json
  components/Utils/package.json
  package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: update first part of major dependencies
  .ncurc.major.js
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/File/package.json
  components/Footer/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/Menu/package.json
  components/OrderedList/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: pnpm recursive error in lint script
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: stylelint issue
  components/Modal/src/_modal-close.scss
Due: prettier --check, stylelint --allow-empty-input

fix: moved pnpm override from package.json to workspaces yaml
  pnpm-workspace.yaml
Due: prettier --check

fix: updated ejs
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: upgraded typescript to version 6
  @types/assets/index.d.ts
  components/DataBadge/tsconfig.json
  components/DotIndicator/tsconfig.json
  components/Heading/tsconfig.json
  components/Icons/tsconfig.json
  components/NumberBadge/tsconfig.json
  components/Paragraph/tsconfig.json
  components/SkipLink/tsconfig.json
  components/StylesProvider/tsconfig.json
  components/Table/tsconfig.json
  package.json
  pnpm-lock.yaml
  proprietary/tokens/tsconfig.json
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: switch to our own base tsconfig due to upgrading issues
  packages/web-components/case-card/tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: cleanup ncurc major file, updated dependencies
  .ncurc.major.js
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: updated to vite 8 + fixed openforms/formio issues
  .ncurc.major.js
  packages/storybook/package.json
  packages/storybook/vite.config.ts
  patches/react-leaflet-draw@0.20.6.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: dependency updates + build time optimalisation
  .ncurc.major.js
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: build optimalisations, stop building storybook twice
  package.json
  rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: case-card package build
  packages/web-components/case-card/package.json
  packages/web-components/case-card/tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: stop adding generate code to dist in richtext
  components/RichText/package.json
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  components/RichText/src/index.scss
  components/RichText/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added html plugin back to storybook
  packages/storybook/config/main.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: update deps
  components/Menu/package.json
  components/Tab/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: typescript error in case-card webcomponent package
  packages/web-components/case-card/tsconfig.base.json
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: vulnerability fixes + openforms update
  packages/storybook/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: fixed all remaining vulnerabilities
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: tmp fix for inconsistent spacing between radio and checkboxes
  components/FormField/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: fix vulnerabilities
  pnpm-lock.yaml
Due: prettier --check

chore: vulnerability fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check

fix: vercel build fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check

chore: linked to github issue for clarification
  pnpm-workspace.yaml
Due: prettier --check

chore: also override read-yaml-file to fix issue with changeset
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check

chore: added changeset
  .changeset/quiet-boxes-rescue.md
Due: prettier --check
