Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: typecheck issues
  packages/storybook/src/@types/index.d.ts
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup
  packages/storybook/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: added missing autodocs tag
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/css/AnchorCollapse.stories.tsx
  packages/storybook/src/css/AnchorNavigation.stories.tsx
  packages/storybook/src/css/ArticleMeta.stories.tsx
  packages/storybook/src/css/Blockquote.stories.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
  packages/storybook/src/css/ButtonGroup.stories.tsx
  packages/storybook/src/css/CardNews.stories.tsx
  packages/storybook/src/css/CtaDownload.stories.tsx
  packages/storybook/src/css/CtaEvent.stories.tsx
  packages/storybook/src/css/CtaImageContent.stories.tsx
  packages/storybook/src/css/CtaLink.stories.tsx
  packages/storybook/src/css/DynamicContent.stories.tsx
  packages/storybook/src/css/EventDate.stories.tsx
  packages/storybook/src/css/FloatingContact.stories.tsx
  packages/storybook/src/css/Hero.stories.tsx
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  packages/storybook/src/css/Image.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
  packages/storybook/src/css/Note.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: migrate the denhaag docs only stories to tsx
  package.json
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/denhaag/Border.md
  packages/storybook/src/denhaag/Border.stories.tsx
  packages/storybook/src/denhaag/BorderRadius.md
  packages/storybook/src/denhaag/BorderRadius.stories.tsx
  packages/storybook/src/denhaag/Breakpoints.md
  packages/storybook/src/denhaag/Breakpoints.stories.mdx
  packages/storybook/src/denhaag/Breakpoints.stories.tsx
  packages/storybook/src/denhaag/Colors.mdx
  packages/storybook/src/denhaag/Colors.stories.tsx
  packages/storybook/src/denhaag/DesignTokens.md
  packages/storybook/src/denhaag/DesignTokens.stories.tsx
  packages/storybook/src/denhaag/DesignTokensTable.tsx
  packages/storybook/src/denhaag/Icons.mdx
  packages/storybook/src/denhaag/Icons.stories.tsx
  packages/storybook/src/denhaag/Introduction.mdx
  packages/storybook/src/denhaag/Introduction.stories.tsx
  packages/storybook/src/denhaag/ReleaseStrategy.mdx
  packages/storybook/src/denhaag/ReleaseStrategy.stories.tsx
  packages/storybook/src/denhaag/Size.md
  packages/storybook/src/denhaag/Size.stories.tsx
  packages/storybook/src/denhaag/Space.mdx
  packages/storybook/src/denhaag/Space.stories.tsx
  packages/storybook/src/denhaag/Typography.md
  packages/storybook/src/denhaag/Typography.stories.tsx
  packages/storybook/src/denhaag/ZIndex.md
  packages/storybook/src/denhaag/ZIndex.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: cleanup dependencies
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: disable chromatic snapshots of docs-only stories
  packages/storybook/src/denhaag/Border.stories.tsx
  packages/storybook/src/denhaag/BorderRadius.stories.tsx
  packages/storybook/src/denhaag/Breakpoints.stories.tsx
  packages/storybook/src/denhaag/Colors.stories.tsx
  packages/storybook/src/denhaag/DesignTokens.stories.tsx
  packages/storybook/src/denhaag/Icons.stories.tsx
  packages/storybook/src/denhaag/Introduction.stories.tsx
  packages/storybook/src/denhaag/ReleaseStrategy.stories.tsx
  packages/storybook/src/denhaag/Size.stories.tsx
  packages/storybook/src/denhaag/Space.stories.tsx
  packages/storybook/src/denhaag/Typography.stories.tsx
  packages/storybook/src/denhaag/ZIndex.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup migration plugin
  packages/storybook/config/main.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: cleanup preview.tsx, added wcag viewports
  packages/storybook/config/addon-viewports.ts
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove export of helper function in story
  packages/storybook/src/css/CtaDownload.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove interfering CSS
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  proprietary/Components/src/custom.scss
  proprietary/Components/src/utrecht/heading-1.tokens.json
  proprietary/Components/src/utrecht/heading-2.tokens.json
  proprietary/Components/src/utrecht/heading-3.tokens.json
  proprietary/Components/src/utrecht/heading-4.tokens.json
  proprietary/Components/src/utrecht/heading-5.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: add SCSS and custom CSS to denhaag-theme
  proprietary/Components/package.json
  proprietary/Components/rollup.config.mjs
  proprietary/Components/src/theme/index.scss
  proprietary/Components/transcript.txt
  style-dictionary.config.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: explicitly configure stylelint config
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: remove unrelated file
  proprietary/Components/transcript.txt
Due: none

fix: use style-dictionary v4 transform
  style-dictionary.config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added select component of utrecht with den haag styling
  components/Select/README.md
  components/Select/package.json
  components/Select/src/index.scss
  components/Select/src/index.tsx
  components/Select/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/css/Select.stories.tsx
  packages/storybook/src/react/Select.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/utrecht/select.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added hover styling to utrecht select, fix inline issue
  components/FormField/src/index.scss
  components/FormField/src/index.tsx
  components/Select/src/index.scss
  components/Select/src/index.tsx
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/css/Select.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
  packages/storybook/src/react/Select.stories.tsx
  proprietary/Components/src/denhaag/select.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: layout shifting, focus styling
  components/Select/src/index.scss
  packages/storybook/src/react/Select.stories.tsx
  proprietary/Components/src/denhaag/select.tokens.json
  proprietary/Components/src/utrecht/select.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: select focus in css story
  packages/storybook/src/css/Select.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: bump select package version, since there is already one in the npmjs registry
  components/Select/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: remove style property, replaced with classname
  components/FormField/README.md
  components/FormField/src/index.tsx
  packages/storybook/src/react/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove prop also from the css story
  packages/storybook/src/css/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: forgotten classname
  packages/storybook/src/css/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: try moving all denhaag spacing css to the theme css, since it also caused inconsistencies in other packages
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/_space-mixin.scss
  components/Typography/src/space.scss
  proprietary/Components/package.json
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: remove space import, since it's included in the theme css
  packages/keycloak/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: use the utrecht typography react components, instead of only the css classes
  components/Typography/package.json
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: add select icon to component
  components/Select/src/index.scss
  proprietary/Components/src/utrecht/select.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
