Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: issues with alignment and partially disappearing icons
  components/Link/src/index.scss
  components/LinkList/src/LinkList.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Revert "refactor: remove annoying and unnecessary span around icons"
  components/Button/src/index.scss
  components/Footer/src/index.tsx
  components/Header/src/HeaderLogic.tsx
  components/LanguageSwitcher/src/index.scss
  components/LanguageSwitcher/src/index.tsx
  components/Link/src/index.scss
  components/Link/src/index.tsx
  components/LinkGroup/src/index.scss
  components/Menu/src/index.scss
  components/Menu/src/mobile/MobileMenu.tsx
  packages/storybook/src/css/AnchorNavigation.stories.tsx
  packages/storybook/src/css/ButtonGroup.stories.tsx
  packages/storybook/src/css/CardAuthentication.stories.tsx
  packages/storybook/src/css/CardGroupUtils.tsx
  packages/storybook/src/css/CtaImageContent.stories.tsx
  packages/storybook/src/css/DynamicContent.stories.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/css/Hero.stories.tsx
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
  packages/storybook/src/css/Note.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changelog
  .changeset/large-paws-look.md
Due: prettier --check

fix: icon alignment in linkgroup and language switcher
  components/LanguageSwitcher/src/index.scss
  components/LinkGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: external icon
  components/LinkList/src/LinkList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/large-paws-look.md
  components/Action/CHANGELOG.md
  components/Action/package.json
  components/Breadcrumb/CHANGELOG.md
  components/Breadcrumb/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/DynamicContent/CHANGELOG.md
  components/DynamicContent/package.json
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/FormProgress/CHANGELOG.md
  components/FormProgress/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/LanguageSwitcher/CHANGELOG.md
  components/LanguageSwitcher/package.json
  components/Link/CHANGELOG.md
  components/Link/package.json
  components/LinkGroup/CHANGELOG.md
  components/LinkGroup/package.json
  components/LinkList/CHANGELOG.md
  components/LinkList/package.json
  components/Menu/CHANGELOG.md
  components/Menu/package.json
  components/Table/CHANGELOG.md
  components/Table/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(container): set max-size of 100%
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(container): set max-size of 100% (#1781)
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: remove badge counter
  components/BadgeCounter/CHANGELOG.md
  components/BadgeCounter/README.md
  components/BadgeCounter/package.json
  components/BadgeCounter/src/index.scss
  components/BadgeCounter/src/index.tsx
  components/BadgeCounter/tsconfig.json
  components/NumberBadge/package.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/src/css/BadgeCounter.stories.tsx
  packages/storybook/src/react/BadgeCounter.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: added page index component
  components/PageIndex/package.json
  components/PageIndex/src/PageIndex.tsx
  components/PageIndex/src/PageIndexNav.tsx
  components/PageIndex/src/index.scss
  components/PageIndex/src/index.tsx
  components/PageIndex/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/css/PageIndex.stories.tsx
  packages/storybook/src/react/PageIndex.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/page-index.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: changeset
  .changeset/honest-dryers-love.md
Due: prettier --check

chore: refactor card element
  packages/web-components/case-card/src/element.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

fix: added option to add heading level and size
  components/PageIndex/package.json
  components/PageIndex/src/PageIndex.tsx
  packages/storybook/src/react/PageIndex.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@b59e4e95f391b79b505a6bed554b6fd27e654ced 🚀
  assets/Accordion.stories-BEtBoxnw.js
  assets/Accordion.stories-CZK26qiY.js
  assets/Accordion.stories-Dtfr2bK-.js
  assets/Accordion.stories-TDGoYv5j.js
  assets/Action.stories-DXM1CLeq.js
  assets/Action.stories-Dek3s4wq.js
  assets/Color-YHDXOIA2-D16N1Xfb.js
  assets/Color-YHDXOIA2-DIuMzoO2.js
  assets/Colors.stories-Cg8Y0lnE.js
  assets/Colors.stories-VUtnhlJW.js
  assets/DocsRenderer-CFRXHY34-BWZXLcjw.js
  assets/DocsRenderer-CFRXHY34-LBHbAHTi.js
  assets/Header.stories-Dxlkw69d.js
  assets/Header.stories-MXIj6qoq.js
  assets/Icons.stories-wKrCaPnn.js
  assets/PageIndex.stories-AZQN5PBx.js
  assets/PageIndex.stories-EiAgIJr2.js
  assets/ProcessSteps.stories-B0TA8biF.js
  assets/ProcessSteps.stories-OlLMKWxP.js
  assets/Sidenav.stories-C3lLDum-.js
  assets/Sidenav.stories-Dj79qfV6.js
  assets/Space.stories-Cm4b6SIl.js
  assets/Space.stories-DW5GE9SQ.js
  assets/entry-preview-DCfmcMZe.js
  assets/iframe-DT2HHSUw.js
  assets/index-B1H4qNs7.js
  assets/list-D5psgzTa.js
  assets/list-DUDr7ETn.js
  assets/preview-B_vbImLm.js
  assets/preview-Bgw6ZEVf.css
  assets/preview-Bjjw6Cjv.css
  assets/preview-Cjkci2Hp.js
  assets/preview-D-7aUS-J.js
  assets/preview-Dr_kDftE.js
  assets/preview-INM6pbRm.js
  iframe.html
  index.json
  project.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs: test
  packages/web-components/case-card/src/index.html
Due: none

style(hero): set indent same as page content
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: remove status badge
  components/StatusBadge/CHANGELOG.md
  components/StatusBadge/README.md
  components/StatusBadge/package.json
  components/StatusBadge/src/index.scss
  components/StatusBadge/src/index.tsx
  components/StatusBadge/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/css/StatusBadge.stories.tsx
  packages/storybook/src/react/StatusBadge.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(hero): set indent same as page content (#1785)
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@f973f8d45b76d10e124136bbda0acd887571db10 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(anchor-collapse,link-group): change spacing in and on anchor-collapse items
  components/AnchorCollapse/src/index.scss
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: small ui issues
  components/Action/src/index.scss
  components/Footer/package.json
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: import link
  components/PageIndex/src/PageIndex.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: style lint
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): remove margin and add border to link-grid without image
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-grid): remove accidental important tag
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: update case card web component
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

docs: add jsdocs for case card element
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

feat: add appearance property to case card element
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule
