Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: remove classes
  packages/storybook/src/css/RichText.stories.tsx
  packages/storybook/src/react/RichText.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: restore tsc
  .lintstagedrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: rich text component
  .lintstagedrc.json
  components/RichText/README.md
  components/RichText/package.json
  components/RichText/src/RichText.tsx
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  components/RichText/src/index.scss
  components/RichText/src/index.tsx
  components/RichText/src/spacing-matrix.json
  components/RichText/tsconfig.json
  package.json
  packages/storybook/package.json
  packages/storybook/src/css/RichText.stories.tsx
  packages/storybook/src/react/RichText.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: changeset
  .changeset/eleven-lies-drop.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@6c6211e9fb0a230531c7fc732bdeb1ec431dbe19 🚀
  assets/Color-KGDBMAHA-9gdGXXVO.js
  assets/Color-KGDBMAHA-CX1VTUJ3.js
  assets/Colors.stories-CZ_t5K0s.js
  assets/Colors.stories-DZ5FQBqX.js
  assets/DocsRenderer-PKQXORMH-B5_dlNnL.js
  assets/DocsRenderer-PKQXORMH-BMCs45h8.js
  assets/Icons.stories-ekTLx7bV.js
  assets/README-DNt3IqfD.js
  assets/RichText.stories-CX7y9ect.js
  assets/RichText.stories-gwywmyLM.js
  assets/Space.stories-BRgOdnG1.js
  assets/Space.stories-BinNbUBm.js
  assets/chunk-HLWAVYOI-BYl_lv_T.js
  assets/chunk-HLWAVYOI-C0mx3v0Q.js
  assets/iframe-BHNj1eLW.js
  assets/iframe-D33X0Zmy.js
  assets/index-D9ezIqyj.js
  assets/index-TsBiXlWd.js
  assets/index-xHHwZign.js
  assets/preview-BAg1vD6o.js
  assets/preview-BGiapap0.js
  assets/preview-CPZ1R_rO.js
  assets/preview-DdVZUQ8w.js
  assets/preview-LM6cscRt.js
  iframe.html
  index.json
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/eleven-lies-drop.md
  components/RichText/CHANGELOG.md
  components/RichText/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@391a80ab037203e2731d572210ff1373587123af 🚀
  assets/CaseCard.stories-DVOCqKWe.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-BUT4OrVL.js
  assets/iframe-BHNj1eLW.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add design tokens
  .lintstagedrc.json
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  proprietary/Components/src/denhaag/rich-text.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: remove old changeset
  .changeset/eleven-lies-drop.md
  .changeset/rare-bats-divide.md
Due: prettier --check

Rich text design tokens (#1617)
  .changeset/rare-bats-divide.md
  .lintstagedrc.json
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  proprietary/Components/src/denhaag/rich-text.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/rare-bats-divide.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/CtaImageContent/CHANGELOG.md
  components/CtaImageContent/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/RichText/CHANGELOG.md
  components/RichText/package.json
  components/Typography/CHANGELOG.md
  components/Typography/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@a91684fa9984120d107286e58b40ff62beda4f97 🚀
  assets/CaseCard.stories-DVOCqKWe.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-BUT4OrVL.js
  assets/iframe-CBugVK-e.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-icon): remove spaces, due to shadow-dom reacting on it
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(dynamic-content-card): fix icon-size
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

revert: revert test-commit
  CODE_OF_CONDUCT.md
Due: prettier --check

Www.denhaag.nl gdh 1572 (#1620)
  components/DynamicContent/src/index.scss
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(code of conduct): test commit
  CODE_OF_CONDUCT.md
Due: prettier --check

revert: revert > svg to :first-of-type, some blocks break
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Www.denhaag.nl revert icon change (#1621)
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(dynamic-card): set value, otherwise firefox show the wrong size
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(hero): reduce tokens
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(icon button): reduce tokens
  components/IconButton/src/index.scss
  proprietary/Components/src/denhaag/icon-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(illustrated list block): reduce tokens
  components/IllustratedListBlock/src/index.scss
  proprietary/Components/src/denhaag/illustrated-list-block.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(image banner): reduce tokens
  components/ImageBanner/src/index.scss
  proprietary/Components/src/denhaag/image-banner.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(icon button): reduce tokens (#1623)
  components/IconButton/src/index.scss
  proprietary/Components/src/denhaag/icon-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(hero): checked pr, reduced more styles due to duplicate modifiers
  components/Button/src/stories/bem.stories.mdx
  components/Hero/src/heroThemeImage.js
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/src/storybook.js
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(hero): reduce tokens (#1622)
  components/Button/src/stories/bem.stories.mdx
  components/Hero/src/heroThemeImage.js
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/src/storybook.js
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(image): reduce tokens
  components/Image/src/index.scss
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(illustrated list block): reduce tokens, pr feedback
  components/IllustratedListBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(inline carousel): reduce tokens
  components/InlineCarousel/src/index.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(link): reduce tokens
  components/Link/src/index.scss
  proprietary/Components/src/denhaag/link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(link-grid): reduce tokens
  components/LinkGrid/src/index.scss
  proprietary/Components/src/denhaag/link-grid.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(link-group): reduce tokens
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
