Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: broken stories in dev environment
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed sidenavlinklabel to display flex
  components/Sidenav/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: correct margin between label and badge
  components/Sidenav/src/SidenavLinkLabel.tsx
  components/Sidenav/src/index.scss
  components/Sidenav/src/index.tsx
  packages/storybook/src/css/Sidenav.stories.tsx
  packages/storybook/src/react/Sidenav.stories.tsx
  packages/storybook/src/templates/components/Sidenav.tsx
  proprietary/Components/src/denhaag/sidenav.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: sidenav badge aligning
  components/Sidenav/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: text input with icon
  components/TextInput/package.json
  components/TextInput/src/index.scss
  components/TextInput/src/index.tsx
  packages/storybook/src/css/TextInput.stories.tsx
  packages/storybook/src/react/TextInput.stories.tsx
  proprietary/Components/src/utrecht/text-input.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: lock file
  pnpm-lock.yaml
Due: prettier --check

fix: added index.scss
  components/TextInput/src/index.scss
  components/TextInput/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added input with icon to formfield and fix a11y issue
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: type issues with pra textinput
  components/TextInput/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: reverse border bottom changes
  proprietary/Components/src/utrecht/text-input.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove border bottom from text input if used with pra textbox
  .stylelintrc.json
  components/TextInput/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: another issue with the pra textbox
  components/TextInput/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: work around csp and treeshaking issue by adding copy of component
  components/TextInput/package.json
  components/TextInput/src/index.scss
  components/TextInput/src/index.tsx
  components/TextInput/src/pra-textbox.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: input type issue + added iconStart + date stories + tweaked some paddings
  components/TextInput/src/index.tsx
  components/TextInput/src/pra-textbox.scss
  packages/storybook/src/css/TextInput.stories.tsx
  packages/storybook/src/react/TextInput.stories.tsx
  proprietary/Components/src/utrecht/text-input.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: remove pra textbox test
  components/TextInput/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: issue with pra textbox when using utrecht-textbox-max-inline-size token
  components/TextInput/src/pra-textbox.scss
Due: prettier --check, stylelint --allow-empty-input
