Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added changeset
  .changeset/shaky-nights-do.md
Due: prettier --check

feat(card): set up for universal card
  .changeset/modern-radios-accept.md
  components/BaseCard/CHANGELOG.md
  components/BaseCard/LICENSE.md
  components/BaseCard/README.md
  components/BaseCard/package.json
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/BaseCardAction.tsx
  components/BaseCard/src/BaseCardBase.tsx
  components/BaseCard/src/BaseCardBody.tsx
  components/BaseCard/src/BaseCardDecoration.tsx
  components/BaseCard/src/BaseCardFooter.tsx
  components/BaseCard/src/BaseCardHeader.tsx
  components/BaseCard/src/BaseCardMetadata.tsx
  components/BaseCard/src/BaseCardWrapper.tsx
  components/BaseCard/src/_action.scss
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_body.scss
  components/BaseCard/src/_decoration.scss
  components/BaseCard/src/_description.scss
  components/BaseCard/src/_footer.scss
  components/BaseCard/src/_header.scss
  components/BaseCard/src/_heading.scss
  components/BaseCard/src/_label.scss
  components/BaseCard/src/_metadata.scss
  components/BaseCard/src/_pre-heading.scss
  components/BaseCard/src/_wrapper.scss
  components/BaseCard/src/index.scss
  components/BaseCard/src/index.tsx
  components/BaseCard/tsconfig.json
  packages/storybook/src/react/BaseCard.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/common/denhaag/basis-focus.tokens.json
  proprietary/tokens/src/common/denhaag/space.tokens.json
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
  proprietary/tokens/src/primitive/color.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(BaseCard): add case-extended for OIP and card with image
  components/BaseCard/package.json
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/BaseCardBase.tsx
  components/BaseCard/src/BaseCardPreHeader.tsx
  components/BaseCard/src/_action.scss
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_body.scss
  components/BaseCard/src/_decoration.scss
  components/BaseCard/src/_footer.scss
  components/BaseCard/src/_heading.scss
  components/BaseCard/src/_label.scss
  components/BaseCard/src/_pre-header.scss
  components/BaseCard/src/_wrapper.scss
  components/BaseCard/src/index.scss
  components/BaseCard/src/index.tsx
  components/Card/src/_base.scss
  packages/storybook/src/react/BaseCard.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(BaseCard): correct decoration structure as in Figma
  components/BaseCard/src/BaseCardDecoration.tsx
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_decoration.scss
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(card): correcting size tokens + add publishing paths
  .changeset/modern-radios-accept.md
  components/CardAsLink/README.md
  components/CardAsLink/package.json
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/_action.scss
  components/CardAsLink/src/_label.scss
  components/CardAsLink/tsconfig.json
  packages/components-react/package.json
  packages/storybook/src/react/CardAsLink.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/common/denhaag/space.tokens.json
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(CardAsLink): add Product Card variant
  components/CardAsLink/README.md
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/CardAsLinkBase.tsx
  components/CardAsLink/src/_base.scss
  packages/storybook/src/react/CardAsLink.stories.tsx
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/components/denhaag/card-as-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(CardAsLink): add Plan Card variant
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/CardAsLinkBase.tsx
  components/CardAsLink/src/_base.scss
  components/CardAsLink/src/_decoration.scss
  packages/storybook/src/react/CardAsLink.stories.tsx
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/components/denhaag/card-as-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add breadcrumb and mobile header
  components/Breadcrumb/package.json
  components/Breadcrumb/src/BreadcrumbContent.tsx
  components/Breadcrumb/src/BreadcrumbTitle.tsx
  components/Breadcrumb/src/BreadcrumbToggleButton.tsx
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  components/Header/src/Header.tsx
  components/Header/src/HeaderMobileToggle.tsx
  components/Header/src/index.scss
  components/Header/src/index.tsx
  components/Menu/src/index.scss
  components/Menu/src/mobile/MobileMenu.tsx
  packages/storybook/src/templates/util.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/breadcrumb.tokens.json
  proprietary/tokens/src/components/denhaag/header.tokens.json
  proprietary/tokens/src/components/denhaag/menu.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: filter breadcrumb
  components/Breadcrumb/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: make header sticky
  components/Header/src/index.scss
  packages/storybook/src/react/Header.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/odd-peas-guess.md
Due: prettier --check

feat: breadcrumb mobile header top same height
  components/Breadcrumb/src/index.scss
  components/Header/src/Header.tsx
  components/Header/src/index.scss
  components/Menu/src/mobile/MobileMenu.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add code tabs
  packages/storybook/config/main.ts
  packages/storybook/config/manager.ts
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: classnames
  components/Breadcrumb/src/BreadcrumbToggleButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: link color
  components/Header/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: add var
  components/Menu/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: changeset
  .changeset/frank-pumas-divide.md
Due: prettier --check

feat: opt login page menu
  components/Header/src/Header.tsx
  packages/storybook/src/templates/01-Login-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: moved stories with extra css
  packages/storybook/src/css/_storybook.scss
  packages/storybook/src/react/CardNews.stories.tsx
  packages/storybook/src/react/FloatingContact.stories.tsx
  packages/storybook/src/react/Hero.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: removed all react import stories
  packages/storybook/src/css/Action.stories.tsx
  packages/storybook/src/css/ActionMultiple.stories.tsx
  packages/storybook/src/css/CaseCard.stories.tsx
  packages/storybook/src/css/DataBadge.stories.tsx
  packages/storybook/src/css/FileUpload.stories.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/css/Header.stories.tsx
  packages/storybook/src/css/Heading.stories.tsx
  packages/storybook/src/css/Link.stories.tsx
  packages/storybook/src/css/LinkList.stories.tsx
  packages/storybook/src/css/NumberBadge.stories.tsx
  packages/storybook/src/css/PageIndex.stories.tsx
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/css/RichText.stories.tsx
  packages/storybook/src/css/SideNavigation.stories.tsx
  packages/storybook/src/css/SkipLink.stories.tsx
  packages/storybook/src/css/Table.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: removed story status
  packages/storybook/config/preview.tsx
  packages/storybook/src/components/ArticleMeta.stories.tsx
  packages/storybook/src/components/Blockquote.stories.tsx
  packages/storybook/src/components/Breadcrumb.stories.tsx
  packages/storybook/src/components/ButtonGroup.stories.tsx
  packages/storybook/src/components/CtaDownload.stories.tsx
  packages/storybook/src/components/CtaEvent.stories.tsx
  packages/storybook/src/components/CtaImageContent.stories.tsx
  packages/storybook/src/components/CtaLink.stories.tsx
  packages/storybook/src/components/DynamicContent.stories.tsx
  packages/storybook/src/components/EventDate.stories.tsx
  packages/storybook/src/components/Image.stories.tsx
  packages/storybook/src/components/Note.stories.tsx
  packages/storybook/src/components/PageButtons.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add panel sorting
  packages/storybook/config/manager.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/true-paws-sleep.md
Due: prettier --check

fix: build
  packages/storybook/src/templates/01-Login-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: renamed header file
  components/Header/src/Header.tsx
  components/Header/src/HeaderBase.tsx
  components/Header/src/HeaderLogic.tsx
  components/Header/src/index.tsx
  packages/storybook/src/react/Header.stories.tsx
  packages/storybook/src/templates/01-Login-page.stories.tsx
  packages/storybook/src/templates/02-Overview-page.stories.tsx
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
  packages/storybook/src/templates/04-Messages-detail-page.stories.tsx
  packages/storybook/src/templates/05-Cases-overview-page.stories.tsx
  packages/storybook/src/templates/06-Cases-detail-page.stories.tsx
  packages/storybook/src/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
