Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Deploying to gh-pages from @ nl-design-system/denhaag@fd9d1323777a52430eb1c57473b8000ed86f06d6 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Feature/gdh 1702 add margins to blockquote between paragraphs (#1804)
  components/Blockquote/src/index.scss
  components/Blockquote/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

GDH-1503 - style(conditions): remove margin block from conditions (#1807)
  components/Conditions/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: update all utrecht and nl packages
  components/Accordion/package.json
  components/Button/package.json
  components/DataBadge/package.json
  components/Footer/package.json
  components/Heading/package.json
  components/LanguageSwitcher/package.json
  components/Link/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/Menu/package.json
  components/NumberBadge/package.json
  components/OrderedList/package.json
  components/Paragraph/package.json
  components/RadioButton/package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: fixed some of the rollup mixing named and default exports warnings
  components/Alert/src/index.tsx
  components/Breadcrumb/src/index.tsx
  components/Button/src/index.tsx
  components/ButtonLink/src/index.tsx
  components/Checkbox/src/index.tsx
  components/ContactTimeline/src/index.tsx
  components/DataBadge/src/index.tsx
  components/Footer/src/index.tsx
  components/FormField/src/index.tsx
  components/FormFieldDescription/src/index.tsx
  components/FormFieldErrorMessage/src/index.tsx
  components/FormFieldSet/src/index.tsx
  components/FormLabel/src/index.tsx
  components/FormProgress/src/index.tsx
  components/Header/src/HeaderLogic.tsx
  components/LanguageSwitcher/src/index.tsx
  components/LinkList/src/LinkList.tsx
  components/LinkList/src/index.tsx
  components/List/src/ListItem.tsx
  components/Menu/src/mobile/MobileMenu.tsx
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalFooter.tsx
  components/Modal/src/ModalHeader.tsx
  components/Modal/src/index.tsx
  components/OrderedList/src/index.tsx
  components/PageIndex/src/PageIndex.tsx
  components/RadioButton/src/index.tsx
  components/Select/src/index.tsx
  components/SideNavigation/src/SideNavigation.tsx
  components/Textarea/src/index.tsx
  components/UnorderedList/src/index.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
  packages/storybook/src/react/Breadcrumb.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
  packages/storybook/src/react/LinkList.stories.tsx
  packages/storybook/src/templates/06-Cases-detail-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: update minor and patch dependencies
  .prettierignore
  eslint.config.mjs
  package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: 404 errors in storybook about missing utrecht css
  components/ButtonLink/src/index.scss
  components/Checkbox/src/index.scss
  components/FormField/src/index.scss
  components/FormFieldDescription/src/index.scss
  components/FormFieldErrorMessage/src/index.scss
  components/FormFieldSet/src/index.scss
  components/FormLabel/src/index.scss
  components/LinkButton/src/index.scss
  components/LinkList/src/index.scss
  components/OrderedList/src/index.scss
  components/RadioButton/src/index.scss
  components/Select/src/index.scss
  components/TextInput/src/index.scss
  components/Textarea/src/index.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  components/UnorderedList/src/index.scss
  packages/keycloak/src/index.scss
  packages/open-forms/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input

fix: lockfile
  pnpm-lock.yaml
Due: prettier --check

chore: major dependency updates
  components/DescriptionList/src/_DescriptionList.scss
  components/DynamicContent/src/index.scss
  package.json
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
  proprietary/Common/package.json
  proprietary/Common/style-dictionary.build.mjs
  proprietary/Common/style-dictionary.config.js
  proprietary/Components/package.json
  proprietary/Components/src/denhaag/modal.tokens.json
  proprietary/Components/style-dictionary.build.mjs
  proprietary/Components/style-dictionary.config.js
  style-dictionary.formatter.mjs
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve, npmPkgJsonLint --allowEmptyTargets

fix: partially fix storybook/react errors
  .ncurc.minor.js
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: installed latest updates
  components/ButtonLink/package.json
  components/Footer/package.json
  components/LanguageSwitcher/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/OrderedList/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added changeset
  .changeset/open-signs-boil.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@0e951a181b2a4bff24241de84ae89a608f68465e 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: import the utrecht/document-css the right way in typescript
  components/StylesProvider/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/floppy-parks-brake.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@a73ed54b9c68e433da7834c61b55e7b08afb2d1b 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/floppy-parks-brake.md
  components/StylesProvider/CHANGELOG.md
  components/StylesProvider/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets
