Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

docs(release): design system packages
  .changeset/sweet-poems-divide.md
  components/Header/CHANGELOG.md
  components/Header/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@6634b13fb93fb4a9fd3cf2ab10d2c897ac44e697 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add utrecht comp lib react to file comp package.json + update lockfile
  components/File/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add utrecht URL Data comp to File comp + changes in name + download props
  components/File/src/File.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: add word-break initial to link to prevent download label break icm utrecht root
  components/File/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: wip link group cleanup
  components/HighlightedLinks/CHANGELOG.md
  components/HighlightedLinks/README.md
  components/HighlightedLinks/package.json
  components/HighlightedLinks/src/index.scss
  components/HighlightedLinks/src/index.tsx
  components/HighlightedLinks/tsconfig.json
  components/LinkList/src/LinkList.tsx
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/storybook/package.json
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/highlighted-links.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: added separate file for open forms custom css
  packages/open-forms/src/_open-forms.scss
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: cleanup footer from link-group
  components/Footer/package.json
  components/Footer/src/index.scss
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/react/Footer.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/footer.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: replaced last link-group with link-list and removed link-group
  components/Header/package.json
  components/Header/src/HeaderLogic.tsx
  components/Header/src/index.scss
  components/LanguageSwitcher/src/index.scss
  components/LinkGroup/CHANGELOG.md
  components/LinkGroup/README.md
  components/LinkGroup/package.json
  components/LinkGroup/src/LinkGroup.tsx
  components/LinkGroup/src/LinkGroupList.tsx
  components/LinkGroup/src/LinkGroupListItem.tsx
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/index.tsx
  components/LinkGroup/tsconfig.json
  components/LinkList/src/LinkList.tsx
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/css/LinkGroup.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/link-group.tokens.json
  proprietary/Components/src/utrecht/link-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: fix lint warnings
  packages/storybook/src/css/CardAuthentication.stories.tsx
  packages/storybook/src/css/Table.stories.tsx
  packages/storybook/src/react/Table.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added utrecht space around in footer item to fix margin issue
  components/Footer/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: cleanup code
  components/Footer/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: move imports
  components/Footer/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/evil-cases-post.md
Due: prettier --check

docs(release): design system packages
  .changeset/evil-cases-post.md
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/LanguageSwitcher/CHANGELOG.md
  components/LanguageSwitcher/package.json
  components/LinkList/CHANGELOG.md
  components/LinkList/package.json
  components/Menu/CHANGELOG.md
  components/Menu/package.json
  packages/components-css/CHANGELOG.md
  packages/components-css/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@4256e6f0d7f7de90e3d911e30484b3221343ba28 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: css tokens
  components/Table/src/index.scss
  packages/storybook/src/css/Table.stories.tsx
  packages/storybook/src/react/Table.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/brave-ears-joke.md
Due: prettier --check

docs(release): design system packages
  .changeset/brave-ears-joke.md
  components/Table/CHANGELOG.md
  components/Table/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@6c0b86a4bb7300ee99232b7f30268996f16d8ef1 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: remove unused script
  scripts/create-references.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added titles and ids for consistency and static urls
  packages/storybook/src/css/CaseCard.stories.tsx
  packages/storybook/src/css/DataBadge.stories.tsx
  packages/storybook/src/css/Heading.stories.tsx
  packages/storybook/src/css/Link.stories.tsx
  packages/storybook/src/css/NumberBadge.stories.tsx
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/css/SideNavigation.stories.tsx
  packages/storybook/src/react/CaseCard.stories.tsx
  packages/storybook/src/react/DataBadge.stories.tsx
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/NumberBadge.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  packages/storybook/src/react/SideNavigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: sorting storybook
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored
