Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/aap-noot-mies.md
  .changeset/shaky-roses-decide.md
  .changeset/strong-singers-cover.md
  components/DescriptionList/CHANGELOG.md
  components/DescriptionList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/tokens/CHANGELOG.md
  proprietary/tokens/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@511de65bad24955f3d6c90f1d3668a517d6672d4 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

first commit to streamline css styling in openforms with mdh
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(image): add variable to use in other components that have a denhaag-image__figcaption
  components/Image/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: upgrade rich text with nl candidate
  components/Accordion/tsconfig.json
  components/ContactTimeline/tsconfig.json
  components/PageIndex/package.json
  components/PageIndex/src/PageIndex.tsx
  components/ProcessSteps/tsconfig.json
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  components/RichText/src/index.scss
  components/RichText/src/spacing-matrix.json
  components/Typography/CHANGELOG.md
  components/Typography/README.md
  components/Typography/package.json
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/heading.scss
  components/Typography/src/index.scss
  components/Typography/src/index.tsx
  components/Typography/src/paragraph.scss
  components/Typography/tsconfig.json
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/index.tsx
  packages/components-react/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/RichText.stories.tsx
  packages/storybook/src/react/RichText.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: type issue
  components/Alert/tsconfig.json
  packages/storybook/src/react/PageIndex.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/wacky-mammals-dance.md
Due: prettier --check

docs(release): design system packages
  .changeset/wacky-mammals-dance.md
  components/Accordion/CHANGELOG.md
  components/Accordion/package.json
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/PageIndex/CHANGELOG.md
  components/PageIndex/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/RichText/CHANGELOG.md
  components/RichText/package.json
  components/UnorderedList/CHANGELOG.md
  components/UnorderedList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@057c01e40eb45ecf1d5edecf4aeeab3111c8a4b2 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(image-banner): add hover styles to focus and fix focus indicator
  components/ImageBanner/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build(deps): bump npm-check-updates to 19.0.0
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs: add changeset for npm-check-updates cooldown
  .changeset/six-paths-speak.md
Due: prettier --check

feat: hide footer parts
  .changeset/cool-moose-retire.md
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/react/Footer.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/cool-moose-retire.md
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@e7d10d13dfee875aa200c3d426fe7d08d64e860d 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(margins): removed some template specific and/or unnecessary margins
  components/Alert/src/index.scss
  components/ArticleMeta/src/index.scss
  components/AuthenticationBlock/src/index.scss
  components/ButtonGroup/src/index.scss
  components/Conditions/src/index.scss
  components/HighlightedLinks/src/index.scss
  components/IllustratedListBlock/src/index.scss
  components/Image/src/index.scss
  components/ImageBanner/src/index.scss
  components/LinkGroup/src/index.scss
  components/Procedure/src/index.scss
  components/ProcessSteps/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(margins): fix broken stories and add some necessary margins back
  components/Button/src/stories/bem.stories.mdx
  components/Button/src/storybook.scss
  components/HighlightedLinks/src/index.scss
  components/IllustratedListBlock/src/index.scss
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  components/Image/src/storybook.scss
  components/LinkGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(margins): make story fix more specific
  components/Button/src/stories/bem.stories.mdx
  components/Button/src/storybook.scss
  components/Image/src/stories/bem.stories.mdx
  components/Image/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(margins): removed some template specific and/or unnecessary margins (#1895)
  components/Alert/src/index.scss
  components/ArticleMeta/src/index.scss
  components/AuthenticationBlock/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  components/Button/src/storybook.scss
  components/ButtonGroup/src/index.scss
  components/Conditions/src/index.scss
  components/HighlightedLinks/src/index.scss
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  components/Image/src/storybook.scss
  components/ImageBanner/src/index.scss
  components/LinkGroup/src/index.scss
  components/Procedure/src/index.scss
  components/ProcessSteps/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(margins): remove specific vertical margins
  components/Blockquote/src/index.scss
  components/LinkGrid/src/index.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  components/UnorderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(margins): remove specific vertical margins (#1899)
  components/Blockquote/src/index.scss
  components/LinkGrid/src/index.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  components/UnorderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build(deps): bump npm-check-updates to 19.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

build: fix bad syntax in action
  .github/workflows/cicd-website.yml
Due: prettier --check

style(anchor-collapse): remove some margins and paddings
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories/bem.stories.mdx
  components/AnchorCollapse/src/storybook.scss
  components/Button/src/storybook.scss
  components/Image/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
