Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

docs: add changeset
  .changeset/spotty-toys-switch.md
Due: prettier --check

feat: add common font stories
  packages/storybook/config/preview.tsx
  packages/storybook/src/common-tokens/FontFamily.stories.tsx
  packages/storybook/src/common-tokens/FontSize.stories.tsx
  packages/storybook/src/common-tokens/FontWeight.stories.tsx
  packages/storybook/src/common-tokens/LetterSpacing.stories.tsx
  packages/storybook/src/common-tokens/LineHeight.stories.tsx
  proprietary/tokens/src/common/denhaag/font-size.tokens.json
  proprietary/tokens/src/common/denhaag/font-weight.tokens.json
  proprietary/tokens/src/common/denhaag/line-height.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add scaling commong font-size
  proprietary/tokens/src/common/denhaag/font-size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: font notation
  packages/storybook/src/common-tokens/FontFamily.stories.tsx
  proprietary/tokens/src/common/denhaag/font-size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: forgot vars
  .stylelintrc.json
  components/Button/src/index.scss
  components/CtaLink/src/index.scss
  components/DescriptionList/src/_DescriptionListCaption.scss
  components/List/src/_list-subheader.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add changeset
  .changeset/eight-ravens-drive.md
Due: prettier --check

fix: action date weight
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: replace wrapper with div root, real anchor and button, stretched download link
  components/File/src/File.tsx
  components/File/src/index.scss
  packages/storybook/src/css/File.stories.tsx
  packages/storybook/src/react/File.stories.tsx
  proprietary/tokens/src/components/denhaag/file.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/sour-frogs-ring.md
Due: prettier --check

chore: add codeowner
  .github/CODEOWNERS
Due: none

ci: don't persist credentials in actions/checkout
  .github/workflows/publish.yml
Due: prettier --check

feat: add value to stories
  packages/storybook/src/common-tokens/FontFamily.stories.tsx
  packages/storybook/src/common-tokens/FontSize.stories.tsx
  packages/storybook/src/common-tokens/FontWeight.stories.tsx
  packages/storybook/src/common-tokens/LetterSpacing.stories.tsx
  packages/storybook/src/common-tokens/LineHeight.stories.tsx
  packages/storybook/src/denhaag/Space.mdx
  packages/storybook/src/denhaag/Space.stories.tsx
  packages/storybook/src/denhaag/SpaceTokensTable.tsx
  packages/storybook/src/primitive-tokens/FontFamily.stories.tsx
  packages/storybook/src/primitive-tokens/FontSize.stories.tsx
  packages/storybook/src/primitive-tokens/FontWeight.stories.tsx
  packages/storybook/src/primitive-tokens/LetterSpacing.stories.tsx
  packages/storybook/src/primitive-tokens/LineHeight.stories.tsx
  proprietary/tokens/src/common/denhaag/font-size.tokens.json
  proprietary/tokens/src/common/denhaag/letter-spacing.tokens.json
  proprietary/tokens/src/common/denhaag/line-height.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/silver-keys-glow.md
Due: prettier --check

feat: change font weight token name
  proprietary/tokens/src/primitive/font.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: opt primitive stories
  packages/storybook/src/primitive-tokens/FontFamily.stories.tsx
  packages/storybook/src/primitive-tokens/FontSize.stories.tsx
  packages/storybook/src/primitive-tokens/FontWeight.stories.tsx
  packages/storybook/src/primitive-tokens/LineHeight.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: align story headers
  packages/storybook/src/primitive-tokens/BorderStyle.stories.tsx
  packages/storybook/src/primitive-tokens/BorderWidth.stories.tsx
  packages/storybook/src/primitive-tokens/Colors.stories.tsx
  packages/storybook/src/primitive-tokens/FontFamily.stories.tsx
  packages/storybook/src/primitive-tokens/FontSize.stories.tsx
  packages/storybook/src/primitive-tokens/FontWeight.stories.tsx
  packages/storybook/src/primitive-tokens/LetterSpacing.stories.tsx
  packages/storybook/src/primitive-tokens/LineHeight.stories.tsx
  packages/storybook/src/primitive-tokens/Radius.stories.tsx
  packages/storybook/src/primitive-tokens/Sizes.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: changed primitive token name a bit
  proprietary/tokens/src/common/denhaag/font-famliy.tokens.json
  proprietary/tokens/src/primitive/border-width.tokens.json
  proprietary/tokens/src/primitive/radius.tokens.json
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: removed unused map
  proprietary/tokens/src/common/denhaag/space-meta.tokens.json
  proprietary/tokens/src/common/denhaag/space.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: split border stories
  packages/storybook/src/primitive-tokens/BorderStyle.stories.tsx
  packages/storybook/src/primitive-tokens/BorderWidth.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: update size tokens
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: remove unused typography tokens
  proprietary/tokens/src/primitive/typography.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: moved primitives a bit
  packages/storybook/src/primitive-tokens/Border.stories.tsx
  packages/storybook/src/primitive-tokens/Font.stories.tsx
  packages/storybook/src/primitive-tokens/Fonts.stories.tsx
  packages/storybook/src/primitive-tokens/LetterSpacing.stories.tsx
  proprietary/tokens/src/primitive/border-style.tokens.json
  proprietary/tokens/src/primitive/border-width.tokens.json
  proprietary/tokens/src/primitive/border.tokens.json
  proprietary/tokens/src/primitive/font-family.tokens.json
  proprietary/tokens/src/primitive/font-size.tokens.json
  proprietary/tokens/src/primitive/font-weight.tokens.json
  proprietary/tokens/src/primitive/font.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: update primitive font tokens
  proprietary/tokens/src/primitive/font.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add typography common tokens
  proprietary/tokens/src/common/denhaag/font-famliy.tokens.json
  proprietary/tokens/src/common/denhaag/font-size.tokens.json
  proprietary/tokens/src/common/denhaag/font-weight.tokens.json
  proprietary/tokens/src/common/denhaag/letter-spacing.tokens.json
  proprietary/tokens/src/common/denhaag/line-height.tokens.json
  proprietary/tokens/src/common/denhaag/space-meta.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: husky
  .husky/pre-commit
Due: none
