Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat: add changeset
  .changeset/light-rules-double.md
Due: prettier --check

fix: removed string
  components/Header/src/HeaderLogic.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(radio): reduce tokens
  components/Radio/src/index.scss
  proprietary/Components/src/denhaag/radio.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: header label can also be ReactNode
  components/Header/src/HeaderLogic.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(responsive content): reduce tokens
  components/ResponsiveContent/src/index.scss
  proprietary/Components/src/denhaag/responsive-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(sidenav): reduce tokens
  components/Sidenav/src/index.scss
  proprietary/Components/src/denhaag/sidenav.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@13bb6846d2baacc8a8fa21f1a0f9004c5bea3fb1 🚀
  assets/CaseCard.stories-DVOCqKWe.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/StatusBadge.stories-C0Llfuu7.js
  assets/StatusBadge.stories-ChkO04_T.js
  assets/SubjectCard.stories-BUT4OrVL.js
  assets/iframe-CBugVK-e.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/light-rules-double.md
  components/Header/CHANGELOG.md
  components/Header/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@a81beb654d5361a4e9581e7d646e941b63083120 🚀
  assets/CaseCard.stories-DVOCqKWe.js
  assets/Heading1.stories-DDTagTpv.js
  assets/Heading1.stories-DF09HHZf.js
  assets/Heading2.stories-D-rMugtt.js
  assets/Heading2.stories-jCU8fANA.js
  assets/Heading3.stories-BPaWk5GZ.js
  assets/Heading3.stories-BdkIj6bG.js
  assets/Heading4.stories-CNxunQ3a.js
  assets/Heading4.stories-DpLvqgMm.js
  assets/Heading5.stories-AKL_HCE2.js
  assets/Heading5.stories-DWol9NdJ.js
  assets/LeadParagraph.stories-bq8vMIep.js
  assets/Paragraph.stories-0ZTkpVAe.js
  assets/Paragraph.stories-HbuShTWD.js
  assets/SubjectCard.stories-BUT4OrVL.js
  assets/iframe-CBugVK-e.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(table): reduce tokens
  components/Table/src/index.scss
  proprietary/Components/src/denhaag/table.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(tabs): reduce tokens
  components/Tab/src/styles/mui-override.scss
  components/Tab/src/styles/tab-panel.scss
  components/Tab/src/styles/tab.scss
  components/Tab/src/styles/tabs.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(tabs): reduce tokens (#1651)
  components/Tab/src/styles/mui-override.scss
  components/Tab/src/styles/tab-panel.scss
  components/Tab/src/styles/tab.scss
  components/Tab/src/styles/tabs.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(sidenav): reduce tokens (#1648)
  components/Sidenav/src/index.scss
  proprietary/Components/src/denhaag/sidenav.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(timeline): reduce tokens
  components/Timeline/src/styles/mui-override.scss
  components/Timeline/src/styles/step-content.scss
  components/Timeline/src/styles/step-icon.scss
  components/Timeline/src/styles/step-label.scss
  components/Timeline/src/styles/step.scss
  components/Timeline/src/styles/timeline.scss
  proprietary/Components/src/denhaag/timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(unordered list): reduce tokens
  components/UnorderedList/src/index.scss
  proprietary/Components/src/denhaag/unordered-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(responsive content): reduce tokens (#1647)
  components/ResponsiveContent/src/index.scss
  proprietary/Components/src/denhaag/responsive-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(timeline): reduce tokens (#1652)
  components/Timeline/src/styles/mui-override.scss
  components/Timeline/src/styles/step-content.scss
  components/Timeline/src/styles/step-icon.scss
  components/Timeline/src/styles/step-label.scss
  components/Timeline/src/styles/step.scss
  components/Timeline/src/styles/timeline.scss
  proprietary/Components/src/denhaag/timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(table): reduce tokens (#1650)
  components/Table/src/index.scss
  proprietary/Components/src/denhaag/table.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(global): static valeus to variables
  components/CardCalendar/src/index.scss
  components/CardNews/src/index.scss
  components/Checkbox/src/index.scss
  components/CtaImageContent/src/index.scss
  components/DynamicContent/src/index.scss
  components/FloatingContact/src/storybook.scss
  components/Hero/src/index.scss
  components/Hero/src/storybook.scss
  components/Icons/src/index.scss
  components/Image/src/index.scss
  components/Link/src/index.scss
  components/List/src/list-item-text.scss
  components/List/src/list-subheader.scss
  components/Menu/src/menu-button.scss
  components/Modal/src/index.scss
  components/Note/src/index.scss
  components/Page/src/index.scss
  components/PageButtons/src/index.scss
  components/Procedure/src/index.scss
  components/ResponsiveContent/src/index.scss
  components/Tab/src/styles/tab.scss
  components/Timeline/src/styles/step-content.scss
  components/Timeline/src/styles/step-icon.scss
  components/Timeline/src/styles/step.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

style(focus-border): multiple focus borders to the default
  components/AnchorCollapse/src/index.scss
  components/AuthenticationBlock/src/index.scss
  components/Breadcrumb/src/index.scss
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaLink/src/index.scss
  components/Datepicker/src/index.scss
  components/DynamicContent/src/index.scss
  components/FloatingContact/src/index.scss
  components/FullwidthSlider/src/index.scss
  components/Image/src/index.scss
  components/ImageBanner/src/index.scss
  components/Pagination/src/index.scss
  components/Timeline/src/styles/step.scss
Due: prettier --check, stylelint --allow-empty-input

docs: add comment
  .ncurc.minor.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Revert "docs: add comment"
  .ncurc.minor.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored
