Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed all unused packages from main
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  server.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: remove couple of doc refs
  components/Divider/README.md
  components/Divider/src/index.tsx
  components/Icons/README.md
  components/List/README.md
  components/Sheet/README.md
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove deprecated authentication block package
  components/AuthenticationBlock/package.json
  components/AuthenticationBlock/src/index.scss
  components/AuthenticationBlock/src/index.tsx
  components/AuthenticationBlock/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/AuthenticationBlock.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: upgrade to storybook v8 (partially working)
  .lintstagedrc.json
  .ncurc.major.js
  components/Note/README.md
  package.json
  packages/storybook/babel.config.js
  packages/storybook/config/main.ts
  packages/storybook/config/manager.ts
  packages/storybook/config/theme.ts
  packages/storybook/package.json
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: implemented hacky workaround for prettier + storybook incompatibility with transform function
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: migrate the denhaag docs only stories to tsx
  package.json
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/denhaag/Border.md
  packages/storybook/src/denhaag/Border.stories.tsx
  packages/storybook/src/denhaag/BorderRadius.md
  packages/storybook/src/denhaag/BorderRadius.stories.tsx
  packages/storybook/src/denhaag/Breakpoints.md
  packages/storybook/src/denhaag/Breakpoints.stories.mdx
  packages/storybook/src/denhaag/Breakpoints.stories.tsx
  packages/storybook/src/denhaag/Colors.mdx
  packages/storybook/src/denhaag/Colors.stories.tsx
  packages/storybook/src/denhaag/DesignTokens.md
  packages/storybook/src/denhaag/DesignTokens.stories.tsx
  packages/storybook/src/denhaag/DesignTokensTable.tsx
  packages/storybook/src/denhaag/Icons.mdx
  packages/storybook/src/denhaag/Icons.stories.tsx
  packages/storybook/src/denhaag/Introduction.mdx
  packages/storybook/src/denhaag/Introduction.stories.tsx
  packages/storybook/src/denhaag/ReleaseStrategy.mdx
  packages/storybook/src/denhaag/ReleaseStrategy.stories.tsx
  packages/storybook/src/denhaag/Size.md
  packages/storybook/src/denhaag/Size.stories.tsx
  packages/storybook/src/denhaag/Space.mdx
  packages/storybook/src/denhaag/Space.stories.tsx
  packages/storybook/src/denhaag/Typography.md
  packages/storybook/src/denhaag/Typography.stories.tsx
  packages/storybook/src/denhaag/ZIndex.md
  packages/storybook/src/denhaag/ZIndex.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add typecheck to husky precommit
  .lintstagedrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: disable chromatic snapshots of docs-only stories
  packages/storybook/src/denhaag/Border.stories.tsx
  packages/storybook/src/denhaag/BorderRadius.stories.tsx
  packages/storybook/src/denhaag/Breakpoints.stories.tsx
  packages/storybook/src/denhaag/Colors.stories.tsx
  packages/storybook/src/denhaag/DesignTokens.stories.tsx
  packages/storybook/src/denhaag/Icons.stories.tsx
  packages/storybook/src/denhaag/Introduction.stories.tsx
  packages/storybook/src/denhaag/ReleaseStrategy.stories.tsx
  packages/storybook/src/denhaag/Size.stories.tsx
  packages/storybook/src/denhaag/Space.stories.tsx
  packages/storybook/src/denhaag/Typography.stories.tsx
  packages/storybook/src/denhaag/ZIndex.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: typecheck issues
  packages/storybook/src/@types/index.d.ts
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup dependencies
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: cleanup dependency
  packages/storybook/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup unnecessary change
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup preview.tsx, added wcag viewports
  packages/storybook/config/addon-viewports.ts
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: replaced incompatible storybook-addon-themes with @storybook addon-themes
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: cleanup migration plugin
  packages/storybook/config/main.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: added missing autodocs tag
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/css/AnchorCollapse.stories.tsx
  packages/storybook/src/css/AnchorNavigation.stories.tsx
  packages/storybook/src/css/ArticleMeta.stories.tsx
  packages/storybook/src/css/Blockquote.stories.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
  packages/storybook/src/css/ButtonGroup.stories.tsx
  packages/storybook/src/css/CardNews.stories.tsx
  packages/storybook/src/css/CtaDownload.stories.tsx
  packages/storybook/src/css/CtaEvent.stories.tsx
  packages/storybook/src/css/CtaImageContent.stories.tsx
  packages/storybook/src/css/CtaLink.stories.tsx
  packages/storybook/src/css/DynamicContent.stories.tsx
  packages/storybook/src/css/EventDate.stories.tsx
  packages/storybook/src/css/FloatingContact.stories.tsx
  packages/storybook/src/css/Hero.stories.tsx
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  packages/storybook/src/css/Image.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
  packages/storybook/src/css/Note.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove export of helper function in story
  packages/storybook/src/css/CtaDownload.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: issue with css order for spacing scss
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
  packages/storybook/src/templates/04-Messages-detail-page.stories.tsx
  packages/storybook/src/templates/Messages-page.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: remove export of helper function in story
  packages/storybook/src/css/Hero.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup
  packages/storybook/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: replace mistake
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
  packages/storybook/src/templates/04-Messages-detail-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: cleanup deprecated componentsubtitle
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/css/AnchorCollapse.stories.tsx
  packages/storybook/src/css/AnchorNavigation.stories.tsx
  packages/storybook/src/css/ArticleMeta.stories.tsx
  packages/storybook/src/css/Blockquote.stories.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
  packages/storybook/src/css/ButtonGroup.stories.tsx
  packages/storybook/src/css/CardNews.stories.tsx
  packages/storybook/src/css/CtaDownload.stories.tsx
  packages/storybook/src/css/CtaEvent.stories.tsx
  packages/storybook/src/css/CtaImageContent.stories.tsx
  packages/storybook/src/css/CtaLink.stories.tsx
  packages/storybook/src/css/DynamicContent.stories.tsx
  packages/storybook/src/css/EventDate.stories.tsx
  packages/storybook/src/css/FloatingContact.stories.tsx
  packages/storybook/src/css/Hero.stories.tsx
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  packages/storybook/src/css/Image.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
  packages/storybook/src/css/Note.stories.tsx
  packages/storybook/src/css/PageButtons.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
