Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs: add changeset
  .changeset/spotty-toys-switch.md
Due: prettier --check

feat(tab): add indicator prop to display badge alongside tab label
  .changeset/spotty-carrots-stop.md
  components/Tab/README.md
  components/Tab/src/index.tsx
  components/Tab/src/styles/_tab.scss
  packages/storybook/src/react/Tabs.stories.tsx
  proprietary/tokens/src/components/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(tab): process code review
  .changeset/spotty-carrots-stop.md
  components/Tab/package.json
  components/Tab/src/index.tsx
  packages/storybook/src/react/Tabs.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(tabs): add number-badge css
  components/Tab/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(tabs): replace candidate number-badge import with workspace
  components/Tab/package.json
  components/Tab/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(tab): add number badge support via indicator prop
  .changeset/spotty-carrots-stop.md
  components/Tab/README.md
  components/Tab/package.json
  components/Tab/src/index.tsx
  components/Tab/src/styles/_tab.scss
  packages/storybook/src/react/Tabs.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: configure dependabot groups
  .github/dependabot.yml
Due: prettier --check

feat(action-single): add optional status indicator with layout slot
  .changeset/tangy-years-relax.md
  components/Action/README.md
  components/Action/src/Action.tsx
  components/Action/src/ActionIndicator.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  packages/storybook/src/css/Action.stories.tsx
  packages/storybook/src/react/Action.stories.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

refactor(action-single): remove hasIndicator prop following code review
  .changeset/tangy-years-relax.md
  components/Action/README.md
  components/Action/src/Action.tsx
  components/Action/src/ActionSingle.tsx
  packages/storybook/src/react/Action.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(action-single): add row, fix svg height, add desktop token
  components/Action/src/ActionRow.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  packages/storybook/src/react/Action.stories.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(action): add token conforming to "Essentiële tokens voor white-label componenten"
  components/Action/src/index.scss
  components/Action/tokens.json
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: upgrade pnpm to 11.15.1
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card): set up for universal card
  components/BaseCard/CHANGELOG.md
  components/BaseCard/LICENSE.md
  components/BaseCard/README.md
  components/BaseCard/package.json
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/BaseCardAction.tsx
  components/BaseCard/src/BaseCardBackground.tsx
  components/BaseCard/src/BaseCardBase.tsx
  components/BaseCard/src/BaseCardContext.tsx
  components/BaseCard/src/BaseCardFooter.tsx
  components/BaseCard/src/BaseCardWrapper.tsx
  components/BaseCard/src/_action.scss
  components/BaseCard/src/_background.scss
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_context.scss
  components/BaseCard/src/_footer.scss
  components/BaseCard/src/_subtitle.scss
  components/BaseCard/src/_title.scss
  components/BaseCard/src/_wrapper.scss
  components/BaseCard/src/index.scss
  components/BaseCard/src/index.tsx
  components/BaseCard/tsconfig.json
  packages/storybook/src/react/BaseCard.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card): add changeset
  .changeset/modern-radios-accept.md
Due: prettier --check

feat(card): add eyebrow and optional heading levels
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_eyebrow.scss
  components/BaseCard/src/index.scss
  packages/storybook/src/react/BaseCard.stories.tsx
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix(open-forms): shrink heading-1 to heading-2 size on small screens
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: show tokens at component docs
  packages/storybook/config/DesignTokensBlock.tsx
  packages/storybook/src/react/Accordion.stories.tsx
  packages/storybook/src/react/Action.stories.tsx
  packages/storybook/src/react/Button.stories.tsx
  packages/storybook/src/react/ProcessSteps.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/swift-memes-cut.md
Due: prettier --check

fix: build
  packages/storybook/config/DesignTokensBlock.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(action-single): add row and option to add indicator for task status (#2078)
  .changeset/tangy-years-relax.md
  components/Action/README.md
  components/Action/src/Action.tsx
  components/Action/src/ActionIndicator.tsx
  components/Action/src/ActionRow.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  components/Action/tokens.json
  packages/storybook/src/css/Action.stories.tsx
  packages/storybook/src/react/Action.stories.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: build
  packages/storybook/config/vite-env.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add extra button for copy json
  packages/storybook/config/DesignTokensBlock.tsx
  proprietary/tokens/src/components/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/swift-memes-cut.md
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: prim size tokens
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: basic space tokens
  proprietary/tokens/src/common/denhaag/basic-space.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: move vercel configuration to vercel.json
  packages/storybook/vercel.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
