Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: action label
  packages/storybook/src/react/Action.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/clever-dryers-laugh.md
Due: prettier --check

fix: icon size
  components/Icons/src/svg/functional/checked.svg
  components/Icons/src/svg/objects/file-text.svg
  components/Icons/src/svg/objects/file.svg
Due: none

fix: icons
  components/Icons/src/svg/objects/file-text.svg
  components/Icons/src/svg/objects/file.svg
Due: none

fix: action line height
  components/Action/src/index.scss
  packages/storybook/src/react/Action.stories.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: check icon
  components/Icons/src/svg/functional/checked.svg
Due: none

chore: new changeset
  .changeset/smooth-parks-change.md
Due: prettier --check

Feature/icon opts (#2118)
  .changeset/smooth-parks-change.md
Due: prettier --check

fix: link color conflict in footer
  .changeset/famous-hornets-open.md
  components/Footer/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: use link react component for footer legal part
  components/Footer/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/famous-hornets-open.md
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: remove ugly underline and dark active color in footer legal links
  .changeset/beige-kiwis-jog.md
  components/Footer/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/beige-kiwis-jog.md
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card): set up for universal card
  components/CaseCard/CHANGELOG.md
  components/CaseCard/LICENSE.md
  components/CaseCard/README.md
  components/CaseCard/package.json
  components/CaseCard/src/CaseCard.tsx
  components/CaseCard/src/CaseCardAction.tsx
  components/CaseCard/src/CaseCardBackground.tsx
  components/CaseCard/src/CaseCardBase.tsx
  components/CaseCard/src/CaseCardContext.tsx
  components/CaseCard/src/CaseCardFooter.tsx
  components/CaseCard/src/CaseCardWrapper.tsx
  components/CaseCard/src/_action.scss
  components/CaseCard/src/_background.scss
  components/CaseCard/src/_base.scss
  components/CaseCard/src/_context.scss
  components/CaseCard/src/_footer.scss
  components/CaseCard/src/_subtitle.scss
  components/CaseCard/src/_title.scss
  components/CaseCard/src/_wrapper.scss
  components/CaseCard/src/index.scss
  components/CaseCard/src/index.tsx
  components/CaseCard/tsconfig.json
  packages/components-react/tsconfig.json
  packages/storybook/src/react/CaseCard.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card): add card directory
  components/Card/README.md
Due: prettier --check

feat(card): add initial card set up
  components/Card/LICENSE.md
  components/Card/package.json
  components/Card/src/Card.tsx
  components/Card/src/CardBase.tsx
  components/Card/src/CardBody.tsx
  components/Card/src/CardHeader.tsx
  components/Card/src/_base.scss
  components/Card/src/_body.scss
  components/Card/src/_footer.scss
  components/Card/src/_header.scss
  components/Card/src/_pre-header.scss
  components/Card/src/index.scss
  components/Card/src/index.tsx
  components/Card/tsconfig.json
  packages/components-react/tsconfig.json
  packages/storybook/src/react/Card.stories.tsx
  packages/storybook/src/react/CaseCard.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

chore: upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: upgrade to changesets v3 (and changesets/action@v2) (#2128)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(card): set up for universal card
  .changeset/modern-radios-accept.md
  components/BaseCard/CHANGELOG.md
  components/BaseCard/LICENSE.md
  components/BaseCard/README.md
  components/BaseCard/package.json
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/BaseCardAction.tsx
  components/BaseCard/src/BaseCardBase.tsx
  components/BaseCard/src/BaseCardBody.tsx
  components/BaseCard/src/BaseCardDecoration.tsx
  components/BaseCard/src/BaseCardFooter.tsx
  components/BaseCard/src/BaseCardHeader.tsx
  components/BaseCard/src/BaseCardMetadata.tsx
  components/BaseCard/src/BaseCardWrapper.tsx
  components/BaseCard/src/_action.scss
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_body.scss
  components/BaseCard/src/_decoration.scss
  components/BaseCard/src/_description.scss
  components/BaseCard/src/_footer.scss
  components/BaseCard/src/_header.scss
  components/BaseCard/src/_heading.scss
  components/BaseCard/src/_label.scss
  components/BaseCard/src/_metadata.scss
  components/BaseCard/src/_pre-heading.scss
  components/BaseCard/src/_wrapper.scss
  components/BaseCard/src/index.scss
  components/BaseCard/src/index.tsx
  components/BaseCard/tsconfig.json
  packages/storybook/src/react/BaseCard.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/common/denhaag/basis-focus.tokens.json
  proprietary/tokens/src/common/denhaag/space.tokens.json
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
  proprietary/tokens/src/primitive/color.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(BaseCard): add case-extended for OIP and card with image
  components/BaseCard/package.json
  components/BaseCard/src/BaseCard.tsx
  components/BaseCard/src/BaseCardBase.tsx
  components/BaseCard/src/BaseCardPreHeader.tsx
  components/BaseCard/src/_action.scss
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_body.scss
  components/BaseCard/src/_decoration.scss
  components/BaseCard/src/_footer.scss
  components/BaseCard/src/_heading.scss
  components/BaseCard/src/_label.scss
  components/BaseCard/src/_pre-header.scss
  components/BaseCard/src/_wrapper.scss
  components/BaseCard/src/index.scss
  components/BaseCard/src/index.tsx
  components/Card/src/_base.scss
  packages/storybook/src/react/BaseCard.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat(BaseCard): correct decoration structure as in Figma
  components/BaseCard/src/BaseCardDecoration.tsx
  components/BaseCard/src/_base.scss
  components/BaseCard/src/_decoration.scss
  proprietary/tokens/src/components/denhaag/base-card.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(CardAsLink): add Plan Card variant
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/CardAsLinkBase.tsx
  components/CardAsLink/src/_base.scss
  components/CardAsLink/src/_decoration.scss
  packages/storybook/src/react/CardAsLink.stories.tsx
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/components/denhaag/card-as-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(CardAsLink): add Product Card variant
  components/CardAsLink/README.md
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/CardAsLinkBase.tsx
  components/CardAsLink/src/_base.scss
  packages/storybook/src/react/CardAsLink.stories.tsx
  proprietary/tokens/src/common/denhaag/basis-color-default.tokens.json
  proprietary/tokens/src/components/denhaag/card-as-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat(card): correcting size tokens + add publishing paths
  .changeset/modern-radios-accept.md
  components/CardAsLink/README.md
  components/CardAsLink/package.json
  components/CardAsLink/src/CardAsLink.tsx
  components/CardAsLink/src/_action.scss
  components/CardAsLink/src/_label.scss
  components/CardAsLink/tsconfig.json
  packages/components-react/package.json
  packages/storybook/src/react/CardAsLink.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/common/denhaag/space.tokens.json
  proprietary/tokens/src/primitive/size.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: renamed header file
  components/Header/src/Header.tsx
  components/Header/src/HeaderBase.tsx
  components/Header/src/HeaderLogic.tsx
  components/Header/src/index.tsx
  packages/storybook/src/react/Header.stories.tsx
  packages/storybook/src/templates/01-Login-page.stories.tsx
  packages/storybook/src/templates/02-Overview-page.stories.tsx
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
  packages/storybook/src/templates/04-Messages-detail-page.stories.tsx
  packages/storybook/src/templates/05-Cases-overview-page.stories.tsx
  packages/storybook/src/templates/06-Cases-detail-page.stories.tsx
  packages/storybook/src/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: refactor top header
  components/Header/src/Header.tsx
  components/Header/src/HeaderLogoContainer.tsx
  components/Header/src/index.scss
  components/Header/src/index.tsx
  components/Menu/src/MenuButton.tsx
  components/Menu/src/_menu-button.scss
  proprietary/tokens/src/components/denhaag/header.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: use avatar icon
  components/Header/src/Header.tsx
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/avatar.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/shaky-nights-do.md
Due: prettier --check

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
