Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: keep logical sorting for templates
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

refactor: revert some download changes
  components/File/src/File.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/fluffy-chairs-take.md
Due: prettier --check

Fix: make NumberBadge universal for SideNavigation
  components/SideNavigation/src/SideNavigation.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(procedure): add and fix margins for procedure
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

GDH-1524 style(procedure): add and fix margins for procedure (#1866)
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/dry-tools-bake.md
Due: prettier --check

chore: added changeset
  .changeset/strong-readers-eat.md
Due: prettier --check

docs(release): design system packages
  .changeset/strong-readers-eat.md
  components/SideNavigation/CHANGELOG.md
  components/SideNavigation/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@8d3effe62e2d16074e6e7dacc7ae5e531a6e28ed 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add utrecht URL Data comp to File comp + changes in name + download props
  components/File/src/File.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: add word-break initial to link to prevent download label break icm utrecht root
  components/File/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add utrecht comp lib react to file comp package.json + update lockfile
  components/File/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/fluffy-chairs-take.md
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/File/CHANGELOG.md
  components/File/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@fb6cfe377e57c887a92aadad667fca3cc0d9bc3b 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: sorting storybook
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added titles and ids for consistency and static urls
  packages/storybook/src/css/CaseCard.stories.tsx
  packages/storybook/src/css/DataBadge.stories.tsx
  packages/storybook/src/css/Heading.stories.tsx
  packages/storybook/src/css/Link.stories.tsx
  packages/storybook/src/css/NumberBadge.stories.tsx
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/css/SideNavigation.stories.tsx
  packages/storybook/src/react/CaseCard.stories.tsx
  packages/storybook/src/react/DataBadge.stories.tsx
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/NumberBadge.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  packages/storybook/src/react/SideNavigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/dry-tools-bake.md
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@4f90e059d6b3f8e6945f28f7c4f542403566317c 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: new color story
  packages/storybook/config/preview.tsx
  packages/storybook/src/primitive-tokens/Colors.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: menu sorting
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/react/Accordion.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: renamed to brand tokens
  packages/storybook/config/preview.tsx
  packages/storybook/src/brand-tokens/Colors.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored
