Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Revert "feat: add margin to paragraph"
  components/Paragraph/package.json
  components/Paragraph/src/index.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Revert "feat: paragraph candidate"
  components/Paragraph/README.md
  components/Paragraph/package.json
  components/Paragraph/src/index.tsx
  components/Paragraph/tsconfig.json
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Revert "fix: visual tests"
  components/Action/src/index.scss
  components/Breadcrumb/src/index.scss
  components/FormProgress/src/index.scss
  components/Link/src/index.scss
  components/Table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(container): change container margin on big screens)
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add file web component
  components/File/package.json
  packages/web-components/case-card/src/index.html
  packages/web-components/file/README.md
  packages/web-components/file/package.json
  packages/web-components/file/rollup.config.mjs
  packages/web-components/file/src/element.ts
  packages/web-components/file/src/index.html
  packages/web-components/file/src/index.ts
  packages/web-components/file/tsconfig.base.json
  packages/web-components/file/tsconfig.build.json
  packages/web-components/file/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve, npmPkgJsonLint --allowEmptyTargets

chore: add changeset
  .changeset/brave-bikes-behave.md
Due: prettier --check

GDH-1558 style(container): change container margin on big screens (#1794)
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: use nl-paragraph
  packages/web-components/case-card/src/index.html
Due: none

style(container): change container margins from 200px to 140px per side
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(container): change container margins from 200px to 140px per side (#1796)
  components/Container/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add changeset
  .changeset/cool-jeans-bet.md
  components/PageIndex/src/PageIndex.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@cb9b954c44e09f2430c3e66716e60576ab251a63 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@c13e78b6f613388577e3eb6e3ab87536ccf9b329 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/empty-beds-sit.md
  packages/components-react/CHANGELOG.md
  packages/storybook/CHANGELOG.md
  packages/storybook/src/templates/components/SideNavigation.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/empty-beds-sit.md
  components/PageIndex/CHANGELOG.md
  components/PageIndex/package.json
  components/SideNavigation/CHANGELOG.md
  components/SideNavigation/package.json
  components/Typography/CHANGELOG.md
  components/Typography/package.json
  packages/components-css/CHANGELOG.md
  packages/components-css/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/keycloak/CHANGELOG.md
  packages/keycloak/package.json
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/Components/CHANGELOG.md
  proprietary/Components/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@678eca512862dacd9b73aeedd5143b4c4d165419 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): add denhaag-container to link-grid stories
  components/LinkGrid/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): add container queries to link-grid based on denhaag-container
  components/Container/src/index.scss
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Feature/gdh 1690 style(link-grid): remove margin and add border to link-grid without image (#1788)
  components/Container/src/index.scss
  components/LinkGrid/src/index.scss
  components/LinkGrid/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): change media queries to only affect link-grid with image
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Feature/gdh 1690 move media queries (#1802)
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-grid): move widths to only link-grid with image
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-grid): move widths to only link-grid with image (#1803)
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse,link-group): change spacing in and on anchor-collapse items (#1786)
  components/AnchorCollapse/src/index.scss
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored
