Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

chore: edited changeset
  .changeset/rich-ravens-lay.md
Due: prettier --check

fix: font character variant fix
  packages/fonts/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: use original font for unorderedlist marker
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/rich-ravens-lay.md
  components/PageIndex/CHANGELOG.md
  components/PageIndex/package.json
  components/UnorderedList/CHANGELOG.md
  components/UnorderedList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@4b9f5f7ac8f69a880040841d6d3c4466e423601e 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add date to sub status
  components/ProcessSteps/src/Status.tsx
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepMeta.tsx
  components/ProcessSteps/src/_StepHeader.scss
  components/ProcessSteps/src/_StepMeta.scss
  components/ProcessSteps/src/_SubStep.scss
  packages/storybook/src/react/ProcessSteps.stories.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/slick-dogs-accept.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@0542aa191bae780c75ea00ab632009af98a0f916 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/slick-dogs-accept.md
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@e2e4ba035af845f824dc83f7b873c939a2733676 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: check substeps
  components/ProcessSteps/src/Status.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/angry-queens-pay.md
Due: prettier --check

docs(release): design system packages
  .changeset/angry-queens-pay.md
  .changeset/slick-dogs-accept.md
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@dc922281390418c4d31e3b1444324e59c5f05df0 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: table link hover color
  components/Table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: changeset
  .changeset/ready-results-sink.md
Due: prettier --check

docs(release): design system packages
  .changeset/ready-results-sink.md
  components/Table/CHANGELOG.md
  components/Table/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@7a8e0a799dbe1f22e4cc2262217f786551a2694b 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: logo max height
  components/Header/src/index.scss
  packages/storybook/src/css/Header.stories.tsx
  packages/storybook/src/react/Header.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: use calc to get logo max height
  components/Header/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: add changeset
  .changeset/sweet-poems-divide.md
Due: prettier --check
