Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

ci: configure dependabot cooldown
  .github/dependabot.yml
Due: prettier --check

ci: explicitly set persist-credentials to true
  .github/workflows/publish.yml
Due: prettier --check

chore: update SideNavigation story args with sub-`items`
  packages/storybook/src/react/SideNavigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: extract SideNavigation item implementation into SideNavigationTreeItem
  components/SideNavigation/src/SideNavigation.tsx
  components/SideNavigation/src/SideNavigationTreeItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add IconButton and Icons to SideNavigation
  components/SideNavigation/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add forwardRef to IconButton
  .changeset/polite-clubs-cross.md
  components/IconButton/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add expandable feature to SideNavigation
  .changeset/gold-mirrors-battle.md
  components/SideNavigation/src/SideNavigationExpandButton.tsx
  components/SideNavigation/src/SideNavigationExpandSeparator.tsx
  components/SideNavigation/src/SideNavigationTreeItem.tsx
  components/SideNavigation/src/index.scss
  components/SideNavigation/src/index.tsx
  proprietary/tokens/src/components/denhaag/side-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add close on escape on Sidenavigation
  components/SideNavigation/src/SideNavigationExpandButton.tsx
  components/SideNavigation/src/SideNavigationTreeItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add configurable aria expand label
  components/SideNavigation/src/SideNavigation.tsx
  components/SideNavigation/src/SideNavigationTreeItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: prevent strange wrapping behaviour on longer labels
  components/SideNavigation/src/SideNavigationTreeItem.tsx
  components/SideNavigation/src/index.scss
  proprietary/tokens/src/components/denhaag/side-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: update patch dependency versions
  components/Checkbox/package.json
  components/DataBadge/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/Heading/package.json
  components/Link/package.json
  components/Menu/package.json
  components/NumberBadge/package.json
  components/Paragraph/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/SkipLink/package.json
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: minor dependency updates
  components/Action/package.json
  components/FormLabel/package.json
  components/StylesProvider/package.json
  components/TextInput/package.json
  components/Utils/package.json
  package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feature: SideNavigation with sub items (#2056)
  .changeset/gold-mirrors-battle.md
  .changeset/polite-clubs-cross.md
  components/IconButton/src/index.tsx
  components/SideNavigation/package.json
  components/SideNavigation/src/SideNavigation.tsx
  components/SideNavigation/src/SideNavigationExpandButton.tsx
  components/SideNavigation/src/SideNavigationExpandSeparator.tsx
  components/SideNavigation/src/SideNavigationTreeItem.tsx
  components/SideNavigation/src/index.scss
  components/SideNavigation/src/index.tsx
  packages/storybook/src/react/SideNavigation.stories.tsx
  pnpm-lock.yaml
  proprietary/tokens/src/components/denhaag/side-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/gold-mirrors-battle.md
  .changeset/polite-clubs-cross.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/IconButton/CHANGELOG.md
  components/IconButton/package.json
  components/List/CHANGELOG.md
  components/List/package.json
  components/Menu/CHANGELOG.md
  components/Menu/package.json
  components/Sheet/CHANGELOG.md
  components/Sheet/package.json
  components/SideNavigation/CHANGELOG.md
  components/SideNavigation/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages (#2062)
  .changeset/gold-mirrors-battle.md
  .changeset/polite-clubs-cross.md
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  components/IconButton/CHANGELOG.md
  components/IconButton/package.json
  components/List/CHANGELOG.md
  components/List/package.json
  components/Menu/CHANGELOG.md
  components/Menu/package.json
  components/Sheet/CHANGELOG.md
  components/Sheet/package.json
  components/SideNavigation/CHANGELOG.md
  components/SideNavigation/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: update first part of major dependencies
  .ncurc.major.js
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/File/package.json
  components/Footer/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/Menu/package.json
  components/OrderedList/package.json
  components/RadioButton/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  packages/open-forms/package.json
  packages/storybook/package.json
  packages/web-components/case-card/package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: stylelint issue
  components/Modal/src/_modal-close.scss
Due: prettier --check, stylelint --allow-empty-input

fix: pnpm recursive error in lint script
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: moved pnpm override from package.json to workspaces yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: updated ejs
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove workaround for npm audit endpoint
  .github/workflows/publish.yml
Due: prettier --check

fix: upgraded typescript to version 6
  @types/assets/index.d.ts
  components/DataBadge/tsconfig.json
  components/DotIndicator/tsconfig.json
  components/Heading/tsconfig.json
  components/Icons/tsconfig.json
  components/NumberBadge/tsconfig.json
  components/Paragraph/tsconfig.json
  components/SkipLink/tsconfig.json
  components/StylesProvider/tsconfig.json
  components/Table/tsconfig.json
  package.json
  pnpm-lock.yaml
  proprietary/tokens/tsconfig.json
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: switch to our own base tsconfig due to upgrading issues
  packages/web-components/case-card/tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add file text icon
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/file-text.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: file and image icon
  components/Icons/src/svg/objects/file.svg
  components/Icons/src/svg/objects/image.svg
Due: none

fix: build
  .changeset/curly-hounds-join.md
  package.json
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: cleanup ncurc major file, updated dependencies
  .ncurc.major.js
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: crit package
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: updated to vite 8 + fixed openforms/formio issues
  .ncurc.major.js
  packages/storybook/package.json
  packages/storybook/vite.config.ts
  patches/react-leaflet-draw@0.20.6.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
