Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: action details prop
  .changeset/tangy-plums-poke.md
  components/Action/src/Action.tsx
  components/Action/src/ActionDetails.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  packages/storybook/src/css/ActionMultiple.stories.tsx
  packages/storybook/src/react/Action.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: bump version to test npm publish
  .changeset/petite-beans-pick.md
Due: prettier --check

fix: shrink date
  .changeset/strong-zoos-clap.md
  components/Card/src/_footer.scss
  packages/storybook/src/react/CaseCard.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@b400f4598364613feac59bd34f5a2f8bd12d71d0 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@eeaf7fd5ccd18f48360dbbb336259e5d508d9f39 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: action mobile
  components/Action/src/ActionContext.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: spacing
  components/Action/src/index.scss
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(image-banner): gdh-1723 + gdh-1724 fix a11y issues with the image-banner
  .gitignore
  components/ImageBanner/src/index.scss
  components/ImageBanner/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore(update package): update browserlist
  yarn.lock
Due: none

style(image-banner): remove unnecassary css-property
  components/ImageBanner/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: spacing
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: shrink
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/strong-zoos-clap.md
  .changeset/tangy-plums-poke.md
  components/Action/CHANGELOG.md
  components/Action/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@0f10ff522577bc1b1110c5f6529c6cb389df6f7e 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore(authentication-block): fix differences in the card html and css
  components/AuthenticationBlock/package.json
  components/AuthenticationBlock/src/index.scss
  components/AuthenticationBlock/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore(authentication-block): set correct dev-dependency-version
  components/AuthenticationBlock/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore(authentication-block): fix differences in the card html and css (#1923)
  components/AuthenticationBlock/package.json
  components/AuthenticationBlock/src/index.scss
  components/AuthenticationBlock/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Bugfix/gdh 1723 image banner (#1921)
  .gitignore
  components/ImageBanner/src/index.scss
  components/ImageBanner/src/stories/bem.stories.mdx
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(image-banner): reduce code duplication
  .stylelintrc.json
  components/ImageBanner/src/index.scss
  components/ImageBanner/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(multiple-components): reduce more code duplication
  components/Alert/src/index.scss
  components/Button/src/index.scss
  components/Card/src/CardActions/mui-override.scss
  components/Card/src/CardContent/mui-override.scss
  components/CardNews/src/index.scss
  components/Header/src/storybook.scss
  components/Link/src/index.scss
  components/List/src/list.scss
  components/Menu/src/menu-button.scss
  components/Tab/src/styles/mui-override.scss
Due: prettier --check, stylelint --allow-empty-input

feat: include fonts in open-forms
  packages/open-forms/package.json
  packages/open-forms/rollup.config.mjs
  packages/open-forms/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: include changeset
  .changeset/whole-lines-feel.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@1a0b8c0ab5c446afa7e285df25552afdbdef04fd 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/whole-lines-feel.md
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
