Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@f9ff0f08120e166c12cf55b65516b65d1fc6c914 🚀
  assets/03-Messages-overview-page.stories-DFYCz4-m.js
  assets/03-Messages-overview-page.stories-IIyYadNz.js
  assets/Color-F6OSRLHC-CATcuvSI.js
  assets/Color-F6OSRLHC-tsO_0KmH.js
  assets/Colors.stories-BU_Y99XX.js
  assets/Colors.stories-CCj9hgnV.js
  assets/DocsRenderer-CFRXHY34-DOtddeWa.js
  assets/DocsRenderer-CFRXHY34-aOQ0TtU5.js
  assets/Icons.stories-Bx5eOY3g.js
  assets/Pagination.stories-BwkI96ER.js
  assets/Pagination.stories-DszDguhu.js
  assets/Space.stories-BRq3T851.js
  assets/Space.stories-CwNawJ7a.js
  assets/chunk-NUUEMKO5-UmocqUmw.js
  assets/chunk-NUUEMKO5-zKQGtEI7.js
  assets/entry-preview-DXJ5IPIY.js
  assets/iframe-CX-xC6M1.js
  assets/iframe-Duys5YbH.js
  assets/index-CrNnpzIC.js
  assets/index-CtR3WLBG.js
  assets/index-DH1hqvPs.js
  assets/index-Rb5uZFqH.js
  assets/index-irrLk2lb.js
  assets/preview-B95FYgg6.js
  assets/preview-CJvIFpeh.js
  assets/preview-DtDfHfv5.js
  assets/preview-DwzAYYGB.js
  assets/preview-YaaXDBsu.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link): links with external icon (always after the label) to inl… (#1678)
  components/Link/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: removed utrecht from root
  components/Select/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: remove lodash
  packages/storybook/package.json
  packages/storybook/src/open-forms/StoryUtil.tsx
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(card-news-featured): add featured variant
  .stylelintrc.json
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
  components/CardNews/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(card-news-featured): add featured variant (#1683)
  .stylelintrc.json
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
  components/CardNews/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(accordion+authentication-block): fix styling by using the correct variable
  components/Accordion/src/index.scss
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(news-card): add meta
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(accordion+authentication-block): fix styling by using the corre… (#1685)
  components/Accordion/src/index.scss
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(news-card): add meta (#1686)
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: moved clsx from root to packages
  CONTRIBUTING.md
  components/Action/package.json
  components/Alert/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/DescriptionList/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/DynamicContent/package.json
  components/File/package.json
  components/Footer/package.json
  components/Header/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/LanguageSwitcher/package.json
  components/Link/package.json
  components/LinkGroup/package.json
  components/LinkList/package.json
  components/List/package.json
  components/Menu/package.json
  components/Page/package.json
  components/Pagination/package.json
  components/ProcessSteps/package.json
  components/ResponsiveContent/package.json
  components/ResponsiveContent/src/index.tsx
  components/Select/package.json
  components/Sheet/package.json
  components/Sidenav/package.json
  components/StepMarker/package.json
  components/Tab/package.json
  components/Table/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: moved sass to devDeps
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: remove tslib
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add changeset
  .changeset/fast-items-stare.md
Due: prettier --check

fix: react type
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: tslib
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: build
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: remove @utrecht/component-library-react from storybook
  package.json
  packages/storybook/src/css/FormFieldDescription.stories.tsx
  packages/storybook/src/css/FormFieldErrorMessage.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
  packages/storybook/src/react/FormFieldDescription.stories.tsx
  packages/storybook/src/react/FormFieldErrorMessage.stories.tsx
  packages/storybook/src/templates/06-Cases-detail-page.stories.tsx
  packages/storybook/src/templates/components/Sidenav.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: made modal background transparent
  components/Modal/src/_modal.scss
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changelog
  .changeset/four-files-drive.md
Due: prettier --check

fix: minor improvements
  components/Modal/src/_modal-backdrop.scss
  components/Modal/src/_modal.scss
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  tsc --noEmit --esModuleInterop --resolveJsonModule: any of: *.{ts, tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
