Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

fix: lint
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add changeset
  .changeset/silly-cities-bow.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@005f30f687fb0835acc9297a0128f28da845917f 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(conditions): remove unnecassary whitespace
  components/Conditions/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-collapse): remove padding-block 0 for tablet-up
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(paragraph): fix spacings
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

style(image-banner): fix size
  components/ImageBanner/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(alert): add marges and commas
  components/Alert/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Www denhaag nl after release (#1697)
  components/Alert/src/index.scss
  components/AnchorCollapse/src/index.scss
  components/Conditions/src/index.scss
  components/ImageBanner/src/index.scss
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

style(paragraph): fix paragraph+image missing spacing
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

style(conditions): add pseudo so no line will appear on retina screens
  components/Conditions/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Www denhaag nl after release (#1698)
  components/Conditions/src/index.scss
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

style(conditions): set negative clip-path, so the white-line will dissapear
  components/Conditions/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(conditions): set negative clip-path, so the white-line will dis… (#1699)
  components/Conditions/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(image, alert, procedure/process): fix margin styles
  components/Alert/src/index.scss
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(authentication-block): remove unnecassary margin caused by image+heheading
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(image, alert, procedure/process): fix margin styles (#1700)
  components/Alert/src/index.scss
  components/AuthenticationBlock/src/index.scss
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(highlighted-links): reset innerblock margin-block
  components/HighlightedLinks/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(highlighted-links): reset innerblock margin-block (#1701)
  components/HighlightedLinks/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-group): rebase css from child to parent
  components/HighlightedLinks/src/index.scss
  components/LinkGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-group): rebase css from child to parent (#1702)
  components/HighlightedLinks/src/index.scss
  components/LinkGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: new accordion (react)
  components/Accordion/package.json
  components/Accordion/src/Accordion.tsx
  components/Accordion/src/AccordionSection.tsx
  components/Accordion/src/AccordionSectionContent.tsx
  components/Accordion/src/AccordionSectionDescription.tsx
  components/Accordion/src/AccordionSectionHeader.tsx
  components/Accordion/src/AccordionSectionIcon.tsx
  components/Accordion/src/AccordionSectionTitle.tsx
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/_Accordion.scss
  components/Accordion/src/_AccordionSection.scss
  components/Accordion/src/_AccordionSectionButton.scss
  components/Accordion/src/_AccordionSectionContent.scss
  components/Accordion/src/_AccordionSectionHeader.scss
  components/Accordion/src/_AccordionSectionTitle.scss
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  components/Accordion/src/story.js
  packages/storybook/src/react/Accordion.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: casecard labels
  components/Card/src/Card/CaseCard.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add changeset
  .changeset/hungry-women-send.md
Due: prettier --check

feat: added accordion css story + rotation animation
  components/Accordion/src/AccordionSectionIcon.tsx
  components/Accordion/src/_AccordionSectionButton.scss
  components/Accordion/src/_AccordionSectionIcon.scss
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  packages/storybook/src/css/Accordion.stories.tsx
  packages/storybook/src/react/Accordion.stories.tsx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/eighty-mirrors-travel.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@2a50d5858997a55d2edcc2fe067f929b0e14cd1d 🚀
  assets/05-Cases-overview-page.stories-CyakPWsx.js
  assets/05-Cases-overview-page.stories-DT_4DDb0.js
  assets/CaseCard.stories-Bd7TEJEk.js
  assets/CaseCard.stories-CxMwhQID.js
  assets/Color-YHDXOIA2-BbfD5Ldh.js
  assets/Color-YHDXOIA2-CW1htDIB.js
  assets/Colors.stories-BiZQUCSy.js
  assets/Colors.stories-D7ZX0er8.js
  assets/DocsRenderer-CFRXHY34-Bp1mQsWa.js
  assets/DocsRenderer-CFRXHY34-DqlFCgs8.js
  assets/Icons.stories-DZc24xPH.js
  assets/Space.stories-CCBlxvTE.js
  assets/Space.stories-DyWF46IO.js
  assets/SubjectCard.stories-C_f4H3lT.js
  assets/SubjectCard.stories-H3Tspxf-.js
  assets/entry-preview-CiP68FWt.js
  assets/iframe-B45hEzQ0.js
  assets/index-BCf0aT14.js
  assets/index-BDEYAJn8.js
  assets/index-NS4DEnXB.js
  assets/preview-AQpDc82X.js
  assets/preview-BHOzo3n6.js
  assets/preview-BvNBVUIW.js
  assets/preview-DcHsXwxy.js
  assets/preview-DqkFdKxm.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/hungry-women-send.md
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  tsc --noEmit --esModuleInterop --resolveJsonModule: any of: *.{ts, tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
