Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Www denhaag nl/gdh 1723 reduce duplicate code (#1927)
  .stylelintrc.json
  components/Alert/src/index.scss
  components/Button/src/index.scss
  components/Card/src/CardActions/mui-override.scss
  components/Card/src/CardContent/mui-override.scss
  components/CardNews/src/index.scss
  components/Header/src/storybook.scss
  components/ImageBanner/src/index.scss
  components/ImageBanner/src/stories/bem.stories.mdx
  components/Link/src/index.scss
  components/List/src/list.scss
  components/Menu/src/menu-button.scss
  components/Tab/src/styles/mui-override.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@a7e42136cbeccd123d75e38ce00aa221a6a6c69d 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Due: prettier --check

chore: synchronize pnpm-workspace.yaml with example
  pnpm-workspace.yaml
Due: prettier --check

chore: temporarily relax engineStrict until node upgrade
  pnpm-workspace.yaml
Due: prettier --check

feat: shortened css file with removing redundant lines
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: upgrade rich text with nl candidate
  components/Accordion/tsconfig.json
  components/ContactTimeline/tsconfig.json
  components/PageIndex/package.json
  components/PageIndex/src/PageIndex.tsx
  components/ProcessSteps/tsconfig.json
  components/RichText/src/_mixin.scss
  components/RichText/src/generate.ts
  components/RichText/src/index.scss
  components/RichText/src/spacing-matrix.json
  components/Typography/CHANGELOG.md
  components/Typography/README.md
  components/Typography/package.json
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/heading.scss
  components/Typography/src/index.scss
  components/Typography/src/index.tsx
  components/Typography/src/paragraph.scss
  components/Typography/tsconfig.json
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/index.tsx
  packages/components-react/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/RichText.stories.tsx
  packages/storybook/src/react/RichText.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: type issue
  components/Alert/tsconfig.json
  packages/storybook/src/react/PageIndex.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: changeset
  .changeset/wacky-mammals-dance.md
Due: prettier --check

docs(release): design system packages
  .changeset/wacky-mammals-dance.md
  components/Accordion/CHANGELOG.md
  components/Accordion/package.json
  components/Alert/CHANGELOG.md
  components/Alert/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/PageIndex/CHANGELOG.md
  components/PageIndex/package.json
  components/ProcessSteps/CHANGELOG.md
  components/ProcessSteps/package.json
  components/RichText/CHANGELOG.md
  components/RichText/package.json
  components/UnorderedList/CHANGELOG.md
  components/UnorderedList/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: hide footer parts
  .changeset/cool-moose-retire.md
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/react/Footer.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/cool-moose-retire.md
  components/Footer/CHANGELOG.md
  components/Footer/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove unused pipeline (actual one is in other branch)
  .github/workflows/cicd-website.yml
Due: prettier --check

ci: enable npm publishing with OIDC
  .github/workflows/publish.yml
  .npmrc
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: trigger release to test npm release process
  .changeset/deep-cups-wash.md
Due: prettier --check

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

build(deps): bump npm-check-updates to 19.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs: add changeset for npm-check-updates cooldown
  .changeset/six-paths-speak.md
Due: prettier --check

chore: remove unnecessary option
  .github/workflows/publish.yml
Due: prettier --check

ci: upgrade to pnpm/action-setup@v4.2.0
  .github/workflows/publish.yml
Due: prettier --check

ci: upgrade to actions/download-artifact@v6.0.0
  .github/workflows/publish.yml
Due: prettier --check

ci: upgrade to chromaui/action@v13.3.3
  .github/workflows/publish.yml
Due: prettier --check

chore: bump version to test npm publish
  .changeset/petite-beans-pick.md
Due: prettier --check

feat: action details prop
  .changeset/tangy-plums-poke.md
  components/Action/src/Action.tsx
  components/Action/src/ActionDetails.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  packages/storybook/src/css/ActionMultiple.stories.tsx
  packages/storybook/src/react/Action.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: shrink date
  .changeset/strong-zoos-clap.md
  components/Card/src/_footer.scss
  packages/storybook/src/react/CaseCard.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: action mobile
  components/Action/src/ActionContext.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: spacing
  components/Action/src/index.scss
  proprietary/tokens/src/components/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: spacing
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/strong-zoos-clap.md
  .changeset/tangy-plums-poke.md
  components/Action/CHANGELOG.md
  components/Action/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: shrink
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: include fonts in open-forms
  packages/open-forms/package.json
  packages/open-forms/rollup.config.mjs
  packages/open-forms/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: include changeset
  .changeset/whole-lines-feel.md
Due: prettier --check

docs(release): design system packages
  .changeset/whole-lines-feel.md
  packages/open-forms/CHANGELOG.md
  packages/open-forms/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: run prettier
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: added utrecht-page-content tokens
  proprietary/tokens/src/components/utrecht/page-content.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: remove underlines in progress indicator
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: added border width
  proprietary/tokens/src/components/utrecht/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: border width
  proprietary/tokens/src/components/utrecht/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
