Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@3a524be1c7b6d9292be76bc48e60adf7991db2a0 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: patch packages
  .ncurc.major.js
  components/Menu/package.json
  components/Tab/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: minor packages
  components/Footer/package.json
  components/Menu/package.json
  components/Tab/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: string to reactnode
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalHeader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: made close label configurable
  components/Modal/src/ModalClose.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Revert "fix: string to reactnode"
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalHeader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: added prop to the modal and modalheader
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalHeader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: added changeset
  .changeset/itchy-hounds-guess.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@fa64b5ca8f01c664be60c370eb856e3ee86537e2 🚀
  assets/Color-F6OSRLHC-C6pIwknD.js
  assets/Color-F6OSRLHC-CA17tHDW.js
  assets/Colors.stories-Bhxeild0.js
  assets/Colors.stories-D_eBj1SU.js
  assets/DocsRenderer-CFRXHY34-BaCwU5Ub.js
  assets/DocsRenderer-CFRXHY34-C1U1wQ5k.js
  assets/Icons.stories-DF__U4wy.js
  assets/Modal.stories-D1mjBm7y.js
  assets/Modal.stories-D6wPdsAV.js
  assets/Modal.stories-DMuTwrS9.js
  assets/Modal.stories-Dpk89Jf3.js
  assets/README-CFaUY4WH.js
  assets/README-xmFOYHHi.js
  assets/Space.stories-DUctWv9X.js
  assets/Space.stories-qD8iFx0D.js
  assets/chunk-NUUEMKO5-BaYsvyoD.js
  assets/chunk-NUUEMKO5-C2Q4mqX5.js
  assets/entry-preview-CyTKJYIG.js
  assets/iframe-Ciuucydd.js
  assets/iframe-TNZqHHEB.js
  assets/index-B3tSf-fl.js
  assets/index-EpGUNPZC.js
  assets/index-K5Vh2616.js
  assets/preview-CXZdUp07.js
  assets/preview-DA41gV3A.js
  assets/preview-DJPHHf2v.js
  assets/preview-Dgz9M711.js
  assets/preview-Qiy7z2qj.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: upgrade major
  .ncurc.major.js
  components/BadgeCounter/package.json
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/Footer/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/LanguageSwitcher/package.json
  components/LinkButton/package.json
  components/LinkList/package.json
  components/OrderedList/package.json
  components/RadioButton/package.json
  components/RichText/package.json
  components/Select/package.json
  components/StatusBadge/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/Common/tsconfig.json
  proprietary/Components/tsconfig.json
  proprietary/Proprietary/tsconfig.json
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/itchy-hounds-guess.md
  components/Modal/CHANGELOG.md
  components/Modal/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@d04fb5f7f461e6b2d9aa9057bb0affe931be60b5 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: lint
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add changeset
  .changeset/silly-cities-bow.md
Due: prettier --check

fix: estree error
  packages/storybook/config/preview.tsx
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

style(card): adjust card-styles
  components/CardNews/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: also update storybook to react 19
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove react from .ncurc.major.js
  .ncurc.major.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(card): adjust card-styles (#1694)
  components/CardNews/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@4bf5a9379386a8a89bc6566a83fff2e6dd6cb975 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  tsc --noEmit --esModuleInterop --resolveJsonModule: any of: *.{ts, tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
