Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "*.{ts, tsx}": ["tsc --noEmit --esModuleInterop --resolveJsonModule --moduleResolution bundler --module preserve"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

chore: add changeset case-card-element
  .changeset/swift-hornets-fold.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@ebdc956dc0dc0ad7214e0b3a54bf6282bcf83340 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: add option to pass logo as prop to header
  components/Header/src/HeaderLogic.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: add changeset
  .changeset/every-pants-open.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@a295d37356a3ef66af0a34f1caa99c26f59dff7c 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

Deploying to gh-pages from @ nl-design-system/denhaag@756b18a86f754f6ad2884f52461df222febf5a06 🚀
  assets/01-Login-page.stories-BRUj6E-1.js
  assets/01-Login-page.stories-D-4V8cnX.js
  assets/02-Overview-page.stories-RMXrA_sg.js
  assets/02-Overview-page.stories-clEPOAh-.js
  assets/03-Messages-overview-page.stories-B9LNAGGg.js
  assets/03-Messages-overview-page.stories-CKxHVSBh.js
  assets/04-Messages-detail-page.stories-BPJb_Bi8.js
  assets/04-Messages-detail-page.stories-Dvjts1S-.js
  assets/05-Cases-overview-page.stories-BnsBCj1I.js
  assets/05-Cases-overview-page.stories-DAK-w_Kx.js
  assets/06-Cases-detail-page.stories-BXhTAiLk.js
  assets/06-Cases-detail-page.stories-tlnp2d0R.js
  assets/Color-YHDXOIA2-D-h10FLJ.js
  assets/Color-YHDXOIA2-DIuMzoO2.js
  assets/Colors.stories-CRMvAF31.js
  assets/Colors.stories-Cg8Y0lnE.js
  assets/DocsRenderer-CFRXHY34-BWZXLcjw.js
  assets/DocsRenderer-CFRXHY34-Bnvm-iEA.js
  assets/Header.stories-4qMljngy.js
  assets/Header.stories-D0c1TY4y.js
  assets/Header.stories-Dxlkw69d.js
  assets/Icons.stories-Cs8e7zFz.js
  assets/Space.stories-Cm4b6SIl.js
  assets/Space.stories-DlI0E8P9.js
  assets/entry-preview-CcQ5c_Sv.js
  assets/iframe-C7PIYlvL.js
  assets/index-Bj4V_M95.js
  assets/index-BrAtQ8py.js
  assets/index-DaZkjZea.js
  assets/preview-Bf7tSyWi.js
  assets/preview-D-7aUS-J.js
  assets/preview-DgL6rNiw.js
  assets/preview-Dr_kDftE.js
  assets/preview-uXE-tJVr.js
  iframe.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/every-pants-open.md
  .changeset/swift-hornets-fold.md
  components/Header/CHANGELOG.md
  components/Header/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: visual tests
  components/Action/src/index.scss
  components/Breadcrumb/src/index.scss
  components/FormProgress/src/index.scss
  components/Link/src/index.scss
  components/Table/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: heading margin
  proprietary/.stylelintrc.json
  proprietary/Components/src/nl/heading.tokens.json
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: heading + paragraph
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  packages/storybook/src/css/HighlightedLinks.stories.tsx
  packages/storybook/src/css/LinkGroup.stories.tsx
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: issues
  components/Breadcrumb/src/index.scss
  components/Link/src/index.scss
  components/Table/src/index.scss
  packages/storybook/src/css/Hero.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: hero heading
  components/Hero/package.json
  components/Hero/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: heading + paragraph
  packages/storybook/src/css/Hero.stories.tsx
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: heading
  proprietary/Components/src/theme/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: import link
  components/PageIndex/src/PageIndex.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: remove badge counter
  components/BadgeCounter/CHANGELOG.md
  components/BadgeCounter/README.md
  components/BadgeCounter/package.json
  components/BadgeCounter/src/index.scss
  components/BadgeCounter/src/index.tsx
  components/BadgeCounter/tsconfig.json
  components/NumberBadge/package.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/storybook/src/css/BadgeCounter.stories.tsx
  packages/storybook/src/react/BadgeCounter.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: paragraph candidate
  components/Paragraph/README.md
  components/Paragraph/package.json
  components/Paragraph/src/index.tsx
  components/Paragraph/tsconfig.json
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/css/Paragraph.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: first try data badge
  components/DataBadge/README.md
  components/DataBadge/package.json
  components/DataBadge/src/index.tsx
  components/DataBadge/tsconfig.json
  components/Heading/README.md
  components/Paragraph/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/react/DataBadge.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add margin tokens to heading
  components/Heading/package.json
  components/Heading/src/index.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add margin to paragraph
  components/Paragraph/package.json
  components/Paragraph/src/index.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/paragraph.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add link tokens
  proprietary/Components/src/nl/link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: moved dataBadge to other file
  components/DataBadge/src/DataBadge.tsx
  components/DataBadge/src/index.tsx
  components/Heading/src/index.tsx
  components/NumberBadge/package.json
  components/NumberBadge/src/index.tsx
  components/Paragraph/src/index.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: alert component paragraph
  components/Alert/src/index.tsx
  packages/storybook/src/css/Alert.stories.tsx
  packages/storybook/src/react/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: link use css packages
  components/Link/package.json
  components/Link/src/BasicLink.tsx
  components/Link/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: databadge status
  .stylelintrc.json
  components/DataBadge/package.json
  components/DataBadge/src/index.scss
  components/DataBadge/src/index.tsx
  packages/storybook/src/react/DataBadge.stories.tsx
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/data-badge.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

fix: small ui issues
  components/Action/src/index.scss
  components/Footer/package.json
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

feat: add css stories
  packages/storybook/src/css/DataBadge.stories.tsx
  packages/storybook/src/css/NumberBadge.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: export link from index file
  components/Link/src/Link.tsx
  components/Link/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: css heading story
  packages/storybook/src/css/Heading.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: heading candidate
  components/Heading/README.md
  components/Heading/package.json
  components/Heading/src/index.tsx
  components/Heading/tsconfig.json
  components/Paragraph/README.md
  packages/storybook/package.json
  packages/storybook/src/react/Heading.stories.tsx
  packages/storybook/src/react/Link.stories.tsx
  packages/storybook/src/react/Paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/nl/heading.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets
