Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

fix: remove hover and focus props
  components/Breadcrumb/src/index.tsx
  packages/storybook/src/css/Breadcrumb.stories.tsx
  packages/storybook/src/react/Breadcrumb.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: made breadcrumb compatible with and without current, refactor story, cleanup code
  components/Breadcrumb/src/BreadcrumbLink.tsx
  components/Breadcrumb/src/BreadcrumbList.tsx
  components/Breadcrumb/src/BreadcrumbListItem.tsx
  components/Breadcrumb/src/BreadcrumbNavigation.tsx
  components/Breadcrumb/src/BreadcrumbText.tsx
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  packages/storybook/src/react/Breadcrumb.stories.tsx
  packages/storybook/src/templates/05-Cases-overview-page.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/bright-houses-rule.md
  components/Breadcrumb/CHANGELOG.md
  components/Breadcrumb/package.json
  components/Header/CHANGELOG.md
  components/Header/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@3d94306fcaa863aa527838dbe304dfd8318d327c 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

feat: build with css mjs and other fixes
  .lintstagedrc.json
  components/Card/package.json
  components/Icons/package.json
  packages/web-components/case-card/package.json
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

feat: add default slot
  packages/web-components/case-card/src/element.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

chore: remove unused css.ts from web component package
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

fix: move external styles into slots
  packages/web-components/case-card/package.json
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

feat: build with rollup
  packages/web-components/case-card/package.json
  packages/web-components/case-card/rollup.config.mjs
  packages/web-components/case-card/src/css.ts
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
  packages/web-components/case-card/tsconfig.build.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

fix: web component aria label
  packages/web-components/case-card/src/element.ts
  packages/web-components/case-card/src/index.html
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule

feat: add stylesheet.mjs file
  .changeset/weak-wombats-stop.md
  components/Card/package.json
  packages/web-components/case-card/src/element.ts
  rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, tsc --noEmit --esModuleInterop --resolveJsonModule, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@ddfefa78dcd7945570ff4b54d12becf02486ac22 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/weak-wombats-stop.md
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

refactor(link-group, conditions, procedures): remove deprecated headings and styles from stories
  components/Conditions/src/index.scss
  components/Conditions/src/stories/bem.stories.mdx
  components/LinkGroup/src/stories/bem.stories.mdx
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-group, conditions, procedures): added story with header + conditional styles)
  components/Conditions/src/index.scss
  components/Conditions/src/stories/bem.stories.mdx
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): make arrow clickable
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: update open forms sdk
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: added changelog
  .changeset/sixty-hoops-invent.md
Due: prettier --check

style(container): add denhaag-container class and stories
  components/Container/README.md
  components/Container/package.json
  components/Container/src/index.scss
  components/Container/src/index.tsx
  components/Container/src/stories/bem.stories.mdx
  components/Container/tsconfig.json
  components/Header/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(container): add denhaag-container class and stories (#1766)
  components/Container/README.md
  components/Container/package.json
  components/Container/src/index.scss
  components/Container/src/index.tsx
  components/Container/src/stories/bem.stories.mdx
  components/Container/tsconfig.json
  components/Header/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

style(container): import new container css in packages/components-css/src/index.scss
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(container): import new container css in packages/components-css/src/index.scss (#1768)
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(link-grid): disable mouse click events on decorative item
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(hero, breadcrumbs): add denhaag-container to hero and breadcrumbs
  components/Breadcrumb/src/stories/bem.stories.mdx
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(hero): revert class change on certain hero stories
  components/Hero/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

GDH-1503 refactor(link-group, conditions, procedures): remove deprecated headings and styles from stories (#1763)
  components/Conditions/src/index.scss
  components/Conditions/src/stories/bem.stories.mdx
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(link-grid): disable mouse click events on decorative item (#1769)
  components/LinkGrid/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern --no-warn-ignored: any of: *.{js,cjs,mjs,jsx,json,mdx,ts,tsx}
  tsc --noEmit --esModuleInterop --resolveJsonModule: any of: *.{ts, tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
