Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,cjs,mjs,jsx,json,mdx,ts,tsx}": [
    "eslint --no-error-on-unmatched-pattern --no-warn-ignored",
    "prettier --check"
  ],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

style(anchor-collapse): remove some margins and paddings (#1901)
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories/bem.stories.mdx
  components/AnchorCollapse/src/storybook.scss
  components/Button/src/storybook.scss
  components/Image/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

chore: remove unused pipeline (actual one is in other branch)
  .github/workflows/cicd-website.yml
Due: prettier --check

ci: enable npm publishing with OIDC
  .github/workflows/publish.yml
  .npmrc
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove pipeline that is unused in this branch
  .github/workflows/cicd.yml
Due: prettier --check

ci: use new env secrets and pin action versions
  .github/workflows/publish.yml
Due: prettier --check

chore: trigger release to test npm release process
  .changeset/deep-cups-wash.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@2699f1a938e63bb10125514ecfebf3f1fc8030f8 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

fix: test release with the smallest fix imaginable
  README.md
Due: prettier --check

ci: make use of new `www.denhaag.nl` environment
  .github/workflows/publish.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@24d1bc44b06544302d400922db2f9b0811cd0bc2 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

build(deps): bump npm-check-updates to 19.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

docs: add changeset for npm-check-updates cooldown
  .changeset/six-paths-speak.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@f8245c88989584ede7e72c097d77da27254aeb6a 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

docs(release): design system packages
  .changeset/deep-cups-wash.md
  .changeset/six-paths-speak.md
  components/Action/CHANGELOG.md
  components/Action/package.json
  components/Card/CHANGELOG.md
  components/Card/package.json
  components/CardAuthentication/CHANGELOG.md
  components/CardAuthentication/package.json
  components/CardGroup/CHANGELOG.md
  components/CardGroup/package.json
  components/ContactTimeline/CHANGELOG.md
  components/ContactTimeline/package.json
  components/Utils/CHANGELOG.md
  components/Utils/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/web-components/case-card/CHANGELOG.md
  packages/web-components/case-card/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored, npmPkgJsonLint --allowEmptyTargets

chore: remove unnecessary option
  .github/workflows/publish.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@09c8fe513c14d018abde2259382ad75230b1f80d 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(accordion): modernize accordion and fix animation
  .stylelintrc.json
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  components/Accordion/src/story.js
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(accordion): implement feedback
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/story.js
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

style(accordion): fix small oopsie with icon
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(accordion): make styles only apply to direct child of panel
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

GDH-1729 style(accordion): modernize accordion and fix animation (#1916)
  .stylelintrc.json
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  components/Accordion/src/story.js
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern --no-warn-ignored

ci: upgrade to pnpm/action-setup@v4.2.0
  .github/workflows/publish.yml
Due: prettier --check

ci: upgrade to actions/download-artifact@v6.0.0
  .github/workflows/publish.yml
Due: prettier --check

ci: upgrade to chromaui/action@v13.3.3
  .github/workflows/publish.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@957f268b5c935be80082a441c45b4415496d865b 🚀
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern --no-warn-ignored

ci: synchronize actions versions with main
  .github/workflows/publish.yml
Due: prettier --check
